<p class="form-help">
  This form will make a digital copy of a journal or print article available on the website. The library will link to already licensed content or attempt to aquire the rights and do a fair use evaluation before publishing to the students.
  <br /><%= how_to_use_page_link('startArticle()') %>
</p>

<%= simple_form_for object, :html => {id: "article_form"}, :url => course_reserves_path(object.course.id) do |f| %>

  <%= f.input :title, label: 'Article Title' %>

  <%= f.input :citation, label: "Citation", required: true do %>
    <%= f.input_field :citation, as: "text", rows: 4, style: "width: 100%" %>
  <% end %>

  <%= f.input :needed_by, hint: "Please plan on a 10 day lead time.", label: "Date Needed By" do %>
    <%= f.input_field :needed_by, as: "string", id: "article_needed_by_id", class: 'datepicker needed_by_datepicker' %>
  <% end %>

  <%= library_select_form(f, "Fullfillment Library") %>

  <%= f.input :note, label: "Special Instructions" do %>
    <%= f.input_field :note, as: "text", placeholder: "e.g. Other specifics about the work or requests for presentation of the work. ", rows: 3, style: "width: 100%" %>
  <% end %>

  <%= f.input :requestor_has_an_electronic_copy, label: false do %>
    <%= f.input_field :requestor_has_an_electronic_copy, as: :boolean, inline_label: "I have an electronic copy.", label: false, class: 'has_electronic_copy_checkbox' %>
    <div class="has_electronic_copy">
      <%= f.input_field :pdf, as: 'file', label: 'Electronic Copy' %>
    </div>
  <% end %>

  <%= hidden_field_tag 'instructor_reserve_request[type]', 'JournalReserve' %>
  <%= hidden_field_tag 'instructor_reserve_request[resource_format]', 'electronic' %>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class => 'btn-primary' %>
    <div class="pull-right">
      <%= link_to 'Cancel', course_reserves_path(object.course.id) %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  function startArticle(){
    var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: $('#article_form .instructor_reserve_request_title')[0],
            intro: "<%= t('form_help.article_title') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#article_form .instructor_reserve_request_citation')[0],
            intro: "<%= t('form_help.citation') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#article_form .instructor_reserve_request_needed_by')[0],
            intro: "<%= t('form_help.date_needed') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#article_form .instructor_reserve_request_library')[0],
            intro: "<%= t('form_help.library') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#article_form .instructor_reserve_request_note')[0],
            intro: "<%= t('form_help.special_instructions') %> <%= help_optional_message %>",
            position: 'right'
          },
          {
            element: $('#article_form .instructor_reserve_request_requestor_has_an_electronic_copy')[0],
            intro: "<%= t('form_help.has_electronic') %> ",
            position: 'right'
          },
        ]
      });
      intro.start();
  }
</script>
