
<p class="form-help">This form will place a physical copy of the book on reserve at the library.  The book will be listed in the course on the website and students will be able to check its availability.
<br /><%= how_to_use_page_link('startBook()') %>
</p>

<%= simple_form_for object, :html => {id: "book_form"}, :url => course_reserves_path() do |f| %>

  <%= f.input :oclc_number, :label => "Optionally enter the OCLC or ISBN to fill metadata information from WorldCat" do %>
    OCLC: <%= f.input_field :oclc_number, :class => "three worldcat-import-oclc" %>
    or ISBN:
    <%= f.input_field :isbn, :class => "three worldcat-import-isbn" %> &nbsp;
    <%= button_tag("Import", class: "btn worldcat-import", "data-target" => oclc_course_reserves_path) %>
    <%= worldcat_icon %>
    <%= worldcat_alerts %>
  <% end %>

  <%= f.input :title, label: "Book Title", input_html: {class: 'worldcat-import-title'} %>

  <%= f.input :citation, label: "Citation", required: true do %>
    <%= f.input_field :citation, as: "text", rows: 4, style: "width: 100%", class: 'worldcat-import-citation' %>
  <% end %>

  <%= f.input :needed_by, hint: "Please plan on a 10 day lead time.", label: "Date Needed By" do %>
    <%= f.input_field :needed_by, as: "string", id: "book_needed_by_id", class: 'datepicker needed_by_datepicker' %>
  <% end %>

  <%= f.input :number_of_copies, label: "Number of copies needed at the reserves desk" %>

  <%= library_select_form(f, "Library to hold the reserved item.") %>

  <%= f.input :note, label: "Special Instructions" do %>
    <%= f.input_field :note, as: "text", placeholder: "e.g. Other specifics about the work or requests for presentation of the work. ", rows: 3, style: "width: 100%" %>
  <% end %>

  <%= f.input :requestor_owns_a_copy, as: :boolean, inline_label: "I own a copy of the book.", label: false %>
  <%= f.input :required_material, as: :radio_buttons %>

  <%= hidden_field_tag 'instructor_reserve_request[type]', 'BookReserve' %>
  <%= hidden_field_tag 'instructor_reserve_request[resource_format]', 'physical' %>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class => 'btn-primary' %>
    <div class="pull-right">
      <%= link_to 'Cancel', course_reserves_path(object.course.id) %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  function startBook(){
    var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: $('#book_form .instructor_reserve_request_title')[0],
            intro: "<%= t('form_help.book_title') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#book_form .instructor_reserve_request_citation')[0],
            intro: "<%= t('form_help.citation') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#book_form .instructor_reserve_request_needed_by')[0],
            intro: "<%= t('form_help.date_needed') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#book_form .instructor_reserve_request_number_of_copies')[0],
            intro: "<%= t('form_help.number_copies') %> <%= help_optional_message %>",
            position: 'right'
          },
          {
            element: $('#book_form .instructor_reserve_request_library')[0],
            intro: "<%= t('form_help.book_library') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#book_form .instructor_reserve_request_note')[0],
            intro: "<%= t('form_help.special_instructions') %> <%= help_optional_message %>",
            position: 'right'
          },
          {
            element: $('#book_form .instructor_reserve_request_requestor_owns_a_copy')[0],
            intro: "<%= t('form_help.own_copy') %> ",
            position: 'right'
          },
        ]
      });
      intro.start();
  }
</script>
