<% content_for(:content_title_links) do %>
  <% if user_course_show.can_have_new_reserves? %>
    <%= render partial: "/courses/instructor_new_reserve_menu", locals: { course: user_course_show.course, highlight: true } %>
    <% if user_course_show.has_deleted_reserves? %>
      <a class="btn show_deleted_reserves">Deleted Reserves</a>
    <% end %>
  <% end %>
<% end %>

<% if user_course_show.reserves.size > 0 %>
  <%= form_tag( :controller => "multidelete_requests", :action => "destroy", :method => :post) do %>
  <table class="table table-striped find-resources instructor_datatable datatable show_popover_help">
    <thead>
      <tr>
        <th>Reserve</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Sortable Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% user_course_show.reserves.each do | reserve | %>
        <%= render :partial => 'instructor_list_row', :locals => { object: reserve } %>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Delete Checked" %>
  <% end %>
<% else %>
  <p class="alert">
    <strong>There are no reserves requested for this class. </strong><br>
    <%= link_to "Request Material", new_course_reserve_path(user_course_show.course_id) %>
  </p>
<% end %>


<div id="temporarily_available_text" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Temporary Approval</h3>
  </div>
  <div class="modal-body">
    <p>General Council allows us to temporily apporove works that we are activly seeking out copyright approval from the rights holders.
This means that that when we are able to contact the rights holders we may be denied permissions to reproduce this work and will remove the material immediately.
</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

