<% object = ::ReserveRow.new(object, current_user) %>

<div class="record <%= object.css_class %>">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type"></div>
  </div>
  <div class="summary">
    <h2 class="title">
      <% if object.link_to_get_listing? %>
        <%= link_to h(object.title), course_reserve_path(object.course.id, object.id), target: '_blank' %>
      <% else %>
        <%= h object.title %>
      <% end %>
    </h2>
    <h3 class="author"><%= h object.creator_contributor %></h3>
    <p class="details"><%= h object.details %></p>
    <p class="publisher"><%= h object.publisher_provider %></p>
    <p class="availability">
      <% if object.show_check_availability? %>
        <a href="/realtime_availability/<%= object.realtime_availability_id %>" class="check_availability_link" data-toggle="modal" data-target="#check_availability">Check Availability</a>
      <% end %>
    </p>
  </div>
</div>
