<p class="form-help">
  This form will make a digital stream of the video available on the website.  The library will do the digitization and do a fair use evaluation before publishing to the students.
  <br /><%= how_to_use_page_link('startVideo()') %>
</p>

<%= simple_form_for object, :html => {id: "video_form"}, :url => course_reserves_path() do |f| %>

  <%= f.input :title %>
  <%= f.input :creator, label: "Director or Publisher" %>

  <%= f.input :needed_by, hint: "Please plan on a 2 week lead time.", label: "Date Needed By" do %>
    <%= f.input_field :needed_by, as: "string", id: "video_needed_by_id", class: 'datepicker needed_video_datepicker' %>
  <% end %>

  <%= f.input :language_track, label: "Audio Language" %>

  <%= f.input :subtitle_language %>

  <%= f.input :length, label: "Desired Clips" do %>
    <%= f.input_field :length, placeholder: "e.g. 24:24 - 50:34 or whole video" %>
  <% end %>

  <%= f.input :electronic_reserve, label: "This video shoule be:", required: true do %>

    <label class="checkbox">
      <%= f.radio_button :resource_format, 'electronic' %> streamed online
    </label>
    <label class="checkbox">
      <%= f.radio_button :resource_format, 'physical' %> on physical reserve at <%= f.input_field :library,
        as: "select",
        collection: { 'Hesburgh Library' => :hesburgh , 'Architecture Library' => :architecture, 'Chemistry - Physics Library' => :chem, 'Engineering Library' => :engineering, 'Mahaffey Business Library' => :business, 'O\' Meara Mathematics Library' => :math, 'Music Library' => :music },
        :default => 'Hesburgh'
      %>
    </label>
    <br />
  <% end %>


  <%= f.input :note, label: "Special Instructions" do %>
    <%= f.input_field :note, as: "text", placeholder: "Other notes to identify the work or for the presentation of the work. ", rows: 3, style: "width: 100%" %>
  <% end %>

  <%= hidden_field_tag 'instructor_reserve_request[type]', 'VideoReserve' %>

  <%= f.input :required_material, as: :radio_buttons %>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class => 'btn-primary video_button' %>
    <div class="pull-right">
      <%= link_to 'Cancel', course_reserves_path(object.course.id) %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  function startVideo(){
    var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: $('#video_form .instructor_reserve_request_title')[0],
            intro: "<%= t('form_help.article_title') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#video_form .instructor_reserve_request_creator')[0],
            intro: "<%= t('form_help.director_publisher') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#video_form .instructor_reserve_request_needed_by')[0],
            intro: "<%= t('form_help.date_needed') %> <%= help_required_message %>",
            position: 'right'
          },
          {
            element: $('#video_form .instructor_reserve_request_language_track')[0],
            intro: "<%= t('form_help.audio_language') %> <%= help_optional_message %>",
            position: 'right'
          },
          {
            element: $('#video_form .instructor_reserve_request_subtitle_language')[0],
            intro: "<%= t('form_help.subtitle_language') %> <%= help_optional_message %>",
            position: 'right'
          },
          {
            element: $('#video_form .instructor_reserve_request_length')[0],
            intro: "<%= t('form_help.digitized_clips') %> <%= help_optional_message %>",
            position: 'right'
          },
          {
            element: $('#video_form .instructor_reserve_request_physical_reserve')[0],
            intro: "<%= t('form_help.not_streamed') %> ",
            position: 'right'
          },
          {
            element: $('#video_form .instructor_reserve_request_note')[0],
            intro: "<%= t('form_help.special_instructions') %> <%= help_optional_message %>",
            position: 'right'
          },
        ]
      });
      intro.start();
  }
</script>
