<%= render partial: '/course_reserves/reserve_header', locals: { reserve: @get_reserve.reserve } %>

<% breadcrumb([
    link_to('Courses', courses_path),
    link_to(@get_reserve.course.title, course_reserves_path(@get_reserve.course.id)),
    @get_reserve.reserve.title
   ]) %>
<h2>WARNING CONCERNING COPYRIGHT RESTRICTIONS</h2>

<p>
  The copyright law of the United States (Title 17, United States Code) governs the making of photocopies or other reproductions of copyrighted material. Under certain conditions specified in the law, libraries and archives are authorized to furnish a photocopy or other reproduction. One of these specified conditions is that the photocopy or reproduction is not to be used for any purpose other than private study, scholarship or research. If electronic transmission of reserve material is used for purposes in excess of what constitutes "fair use" that user may be liable for copyright infringement.
</p>

<h3>No Further Transmission or distribution of this material is permitted</h3>
<% if @get_reserve.sipx_reserve? %>
  <% lti = LtiConnection.new(@get_reserve.course, @get_reserve.reserve.url, current_user) %>
  <form id='lti_form' action="<%= lti.launch_url %>" method='post'>
    <% lti.launch_data.each do |key, value| %>
      <%= hidden_field_tag "#{key}", "#{value}" %>
    <% end %>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">I Accept</button>
      <%= link_to 'I do not accept', course_reserves_path(@get_reserve.course.id), class: "btn" %>
    </div>
  </form>
<% else %>
<form>
   <div class="form-actions">
    <button type="submit" class="btn btn-primary" name="accept_terms_of_service" value="1">I Accept</button>
     <%= link_to 'I do not accept', course_reserves_path(@get_reserve.course.id), class: "btn" %>
   </div>
 </form>
<% end %>
