<%= simple_form_for @request, 
    :url => url_for(:action => 'update', :controller => 'admin/video_workflow'),
    :html => {:class => 'form-horizontal' } do |r| %>
  <%= r.error_notification %>
  <div class="control-group">
    <div class="controls">
    </div>
  </div>
  <%= r.input :title, :label => "Video Title", :input_html => { :id => "r_title", :class => "span6" }%>
  <div class="control-group">
    <label class="control-label" for="optionsCheckboxList">Record Flags</label>  
    <div class="controls" style="margin-left: 140px">
      <%= r.input :request_processed, :label => 'Processed', :label_html => { :style => 'margin-bottom: 0px; padding-top: 0px;'}, :wrapper_html => { :style => 'display: inline;' }, :input_html => { :id => "r_processed" } %>
      <div style="margin-left: 80px;">
      </div>
      <%= r.input :library_owned, :label => "Library Owns?", :label_html => { :style => 'margin-bottom: 0px; padding-top: 0px;'}, :wrapper_html => { :style => 'display: inline;' }, :input_html => { :id => "r_library_owned" } %>
      <%= r.input :repeat_request, :label => "Repeat Request?", :label_html => { :style => 'margin-bottom: 0px; padding-top: 0px;'}, :wrapper_html => { :style => 'display: inline;' }, :input_html => { :id => "r_repeat_request" } %>
    </div>
  </div>
  <%= r.input :course, :label => "Course", :hint => "should be formatted as FA12 BUS 3021 01", :input_html => { :id => "r_course", :class => "span4" }%>
  <%= r.association :semester, :as => 'select', :include_blank => 'Please Select', :label_method => 'full_name', :label => "Semester", :input_html => { :id => "r_semester", :class => "span4" } %>
  <%= r.input :needed_by, :label => "Date Needed By", :as => :date_picker, :input_html => { :id => "r_needed_by", :class => "span4" } %>
  <%= r.input :note, :label => "Special Instructions", :input_html => { :id => "r_note", :class => "span6" } %>
  <div class="form-actions span6">
    <%= r.button :submit, :value => 'Save', :class => 'btn-primary'%>
    <%= link_to 'Cancel', admin_video_request_all_path, :class => 'btn' %>
    <%= link_to(requester_info_path(@request.user), :class => 'btn btn-primary', :method => :post, :remote => true, :style => "margin-left: 60px;") do %>
        <i class="icon-user icon-white"></i>
        Requester Info
      <% end %>
    <%= link_to 'Delete Request', delete_admin_request_path(@request), :method => :delete, :confirm => 'Are you sure you want to delete this request?', :style => "float: right;", :class => 'btn btn-danger'%>
  </div>
<% end %>
