<%= simple_form_for @r,
  :url => url_for(:action => 'create', :controller => 'admin/video_workflow'),
  :html => {:class => 'form-horizontal', :id => 'video_request_form' } do |r| %>
  <%= r.error_notification %>
  <%= r.association :semester, :as => 'select', :include_blank => 'Please Select', :label_method => 'full_name', :label => "Semester", :input_html => { :id => "r_semester", :class => "span4" } %>
  <hr/>
  <%= r.input :title, :label => "Video Title", :input_html => { :id => "r_title", :class => "span5 required_data" } %>
  <%= r.input :user_id, :as => 'hidden', :input_html => { :id => 'user_id_field' } %>
  <%= r.input :user_name, :url => autocomplete_user_username_video_workflow_index_path, :as => :autocomplete, :id_element => '#user_id_field', :label => "Requester", :placeholder => 'enter netid to locate user record', :input_html => { :id => "r_requester", :class => "span5 required_data" } %>
  <%= r.input :video_id, :as => 'hidden', :input_html => { :id => 'video_id_field' } %>
  <%= r.input :video_name, :url => autocomplete_video_name_video_workflow_index_path, :as => :autocomplete, :id_element => '#video_id_field', :input_html => { :id => 'video_name_field' }  %>
  <%= r.input :library_owned, :label => "Library Owns?", :input_html => { :id => "r_library_owned" } %>
  <%= r.input :course, :label => "Course", :hint => 'must be in the form of SP12 CHEM 1001 01 or FA13 THEO 83826 01', :input_html => { :id => "r_course", :class => "span4 required_data" }%>
  <%= r.input :language, :label => "Audio Language", :placeholder => 'language track to be used', :input_html => { :id => "r_language", :class => "span4" }%>
  <%= r.input :subtitles, :label => "Subtitle Language", :placeholder => 'subtitle language (if any)', :input_html => { :id => "r_language", :class => "span4" }%>
  <%= r.input :needed_by, :label => "Date Needed By", :as => :date_picker, :input_html => { :id => "r_needed_by", :class => "span4 required_data" } %>
  <%= r.input :cms, :label => "Course Management", :as => :select, :collection => [['Concourse Classic', 'vista_concourse'], ['Concourse in Sakai', 'sakai_concourse'], ['Both Sakai and Concourse Classic', 'both_concourse']], :include_blank => 'Please Select', :input_html => { :id => "r_cms", :class => "span4 required_data" } %>
  <%= r.input :extent, :label => 'Video Extent', :collection => [['The entire video will be used', 'all'], ['Clips will be used', 'clips']], :as => :radio_buttons %>
  <%= r.input :note, :label => "Special Instructions", :input_html => { :id => "r_note", :class => "span6", :style => "height: 100px;" } %>
  <div class="form-actions span6">
    <%= r.button :submit, :class => 'btn-primary', :name => 'submit', :value => 'Create Request', :id => 'submit' %>
  </div>
<% end %>
