<div class="container">
  <div class="row">
    <div class="span15">
      <h3 style="display:inline; margin-right: 40px;">Video Request <%= @request.id %></h3><a class="btn btn-primary" href="<%= url_for(request_admin_edit_path(@request)) %>">Edit Request</a>
      <hr/>
      <div class="span12">
        <table class="table table-bordered" style="width:80%;">
          <tbody>
            <tr>
              <td>
                <span>ID</span>
              </td>
              <td>
                <%= @request.id %>
              </td>
            </tr>
            <tr>
              <td>
                <span>Title</span>
              </td>
              <td>
                <%= @request.title %>
              </td>
            </tr>
            <tr>
              <td>
                <span>Course</span>
              </td>
              <td>
                <%= @request.course %>
              </td>
            </tr>
            <tr>
              <td><span>Requester</span></td>
              <td style="white-space:nowrap;">
                <% if !@request.user.nil? %>
                  <span style="white-space:nowrap;"><%= @request.user.display_name %></span>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><span>Status</span></td>
              <td><span style="color:<%= @request.current_state.meta[:color] %>;"><%= @request.current_state.meta[:label] %></span></td>
            </tr>
            <tr>
              <td><span>Requested On</span></td>
              <td><%= @request.created_at %></td>
            </tr>
            <tr>
              <td><span>Needed By</span></td>
              <td><%= @request.needed_by %></td>
            </tr>
            <tr>
              <td>
                <span>Note</span>
              </td>
              <td>
                <%= @request.note %>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>
