<% content_for(:content_title) do %>
  <div class="page-header"><h1>Course Reserves</h1></div>
<% end %>
<% content_for(:content_title_links) do %>
  <a class="btn btn-info"><i class="icon-question-sign"></i> Help</a>
<% end %>

<% breadcrumb([ 'Courses ']) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Instructor</th>
    </tr>
  </thead>
  <tbody>
    <% @reserves.courses_with_reserves.each do | course | %>
    <tr>
      <td>
        <a href="<%= student_listing_path(course.id) %>"><%= h course.title %></a>
      </td>
      <td><%= h course.instructor %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h2>Courses Without Reserves</h2>

 <table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Instructor</th>
    </tr>
  </thead>
  <tbody>
    <% @reserves.courses_without_reserves.each do | course | %>
      <tr>
        <td><%= h course.title %></td>
        <td><%= h course.instructor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><span class="badge badge-important">Student View</span></p>
