<div id="discovery_meta_data" style="<%= (f.object.overwrite_nd_meta_data? ? 'display:none;' : '') %>">

  <div class="pull-right">
    <a href="/admin/discovery_id_test/" base_url="/admin/discovery_id_test/" class="" id="test_meta_data" data-toggle="modal" data-target="#meta_data_test_modal">
      <i class="icon icon-arrow-up"></i> Test Record Id</a>
  </div>
  <%= f.input :nd_meta_data_id, label: "Record Id" %>

  <div class="clearfix">
    <%= f.input :display_length, label: "Distinguishing Title" %>
  </div>

  <%= link_to "Not in our Records", "#", class: "btn show_full_meta_data" %>
</div>

<%= f.input :overwrite_nd_meta_data, as: :hidden %>

<div id="full_meta_data" style="<%= (f.object.overwrite_nd_meta_data? ? '' : 'display:none;') %>">
  <%= f.input :title %>

  <%= f.input :creator %>

  <%= f.input :details, label: "Publisher / Journal and Volume" %>

  <%= link_to "Link to Meta Data", "#", class: "btn use_meta_data_id" %>
</div>
