<% content_for(:content_title) do %>
  <%= render partial: '/requests/request_header', locals: { reserve: @request.reserve } %>
<% end %>
<%
breadcrumb([ link_to('Requests', requests_path), link_to(@request.title, request_path(@request.id)), "Update Meta Data" ])
%>

<h2>Update Meta Data</h2>
<p class="form-help">
  Find this form to connect this item to our catalog.  Connecting to our catalog will fill out the display meta data and connect to existing electronic resources.
  <br /><%= how_to_use_page_link('startRecordId()') %>
</p>


<%= simple_form_for @request, :url => meta_data_path(@request.reserve_id), :method=>'put' do | f | %>

  <div class="five columns">

    <div class="pull-right">
      <a href="/admin/discovery_id_test/" base_url="/admin/discovery_id_test/" class="" id="test_meta_data" data-toggle="modal" data-target="#meta_data_test_modal">
        <i class="icon icon-arrow-up"></i> Test Record Id</a>
    </div>
    <%= f.input :nd_meta_data_id, label: "Record Id", id: 'step1' %>
    <p><%= link_to "Re-sync Meta Data", "#", class: "btn", style: (f.object.nd_meta_data_id.present? ? '' : 'display:none;')%></p>
    <hr>
    <p><%= link_to "Edit Meta Data", "#", class: 'btn show_full_meta_data', id: "resync_meta_data", style: (!f.object.overwrite_nd_meta_data ? '' : 'display:none;') %></p>

    <% if f.object.type == 'BookChapterReserve' %>
      <%= f.input :selection_title, label: "Chapter Title" %>
    <% end %>

    <%= f.hidden_field :overwrite_nd_meta_data %>

    <div id="full_meta_data" style="<%= f.object.overwrite_nd_meta_data ? '' : 'display:none;' %>">
      <%= f.input :title, label: f.object.title_field_name %>

      <%= f.input :creator, label: 'Author or Creator of the work' %>

      <%= f.input :details, label: "Journal and Volume" %>

      <%= f.input :publisher_provider, label: "Publisher" %>
    </div>
    <% if f.object.type == 'BookChapterReserve' %>
      <%= f.input :length, label: "Reading Length" %>
    <% end %>

  </div>

  <div class="seven columns find-resources">
    <h4>Citation</h4>
    <%= raw f.object.citation %>
    <%= link_to raw("<i class=\"icon icon-chevron-right\"></i> Search in One Search"), f.object.catalog_search_href, target: '_blank' %>

    <h4>Special Instructions</h4>
    <%= raw f.object.special_instructions %>

    <hr>
    <h4>Record Preview</h4>
    <%= render :partial => '/course_reserves/list_record', locals: { object: @request.reserve } %>
  </div>
  <div class="form-actions twelve columns">
    <%= f.button :submit, "Save", :class => 'btn btn-primary' %>

    <%= link_to 'Cancel', request_path(@request.id) %>
  </div>

<% end %>


<!-- Modal -->
<div id="meta_data_test_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Test Meta Data</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


