<%= simple_form_for @metadata_attribute, 
    :url => url_for(:action => 'update_metadata_attribute', :controller => 'admin'),
    :html => {:class => 'form-horizontal' } do |s| %>
  <%= s.error_notification %>
  <%= s.input :name, :input_html => { :id => "metadata_attribute_name", :class => "span6" }%>
  <%= s.input :metadata_type, :collection => [['Basic', 'basic'], ['Technical', 'technical']] %>
  <%= s.input :definition, :label => "Definition", :input_html => { :id => "metadata_attribute_definition", :class => "span6" } %>
  <div class="form-actions">
    <%= s.button :submit, :class => 'btn-primary', :value => 'Save' %>
    <%= link_to 'Delete', metadata_attribute_destroy_path(@metadata_attribute), :method => :delete, :confirm => 'Are you sure you want to delete this request? This will delete the attribute from all attached records.', :style => "float: right;", :class => 'btn btn-danger'%>
  </div>
<% end %>
