<div class="container">
  <div class="row">
    <div class="span9">
      <h3>All Metadata Attributes</h3>
      <div class="span9">
        <table class="table table-bordered table-striped">
              <thead>
                <th>System ID</th>
                <th>Name</th>
				<th>Type</th>
                <th>Definition</th>
              </thead>
              <tbody>
                <% for attribute in @metadata_attributes %>
                <tr>
                  <td>
                    <%= link_to attribute[:id], metadata_attribute_edit_path(attribute) %>
                  </td>
                  <td>
                    <%= attribute[:name] %>
                  </td>
                  <td>
					<%= attribute[:metadata_type] %>
                  <td>
                    <%= attribute[:definition] %>
                  </td>
                </tr>
                <% end %>
              </tbody>
          </table>
          <div class="form-actions">
            <a class="btn btn-primary" href="<%= url_for new_metadata_attribute_path %>">Add New Attribute</a>
          </div>
      </div>
    </div>
  </div>
</div>
