<%= simple_form_for @semester, 
    :url => url_for(:action => 'update_semester', :controller => 'admin'),
    :html => {:class => 'form-horizontal' } do |s| %>
  <%= s.error_notification %>
  <%= s.input :code, :input_html => { :id => "semester_code", :class => "span6" }%>
  <%= s.input :full_name, :label => "Full Name", :input_html => { :id => "semester_full_name", :class => "span6" } %>
  <%= s.input :date_begin, :label => "Begin Date", :as => :date_picker, :input_html => { :id => "semester_date_begin", :class => "span4" } %>
  <%= s.input :date_end, :label => "End Date", :as => :date_picker, :input_html => { :id => "semester_date_end", :class => "span4" } %>
  <div class="form-actions">
    <%= s.button :submit, :class => 'btn-primary'%>
  </div>
<% end %>
