<% object = AdminReserveListing.new(object) %>
<tr>
  <td>
    <%= render partial: '/admin/requests/admin_row_button', locals: { button: object.button } %>
  </td>
  <td><%= object.needed_by %></td>
  <td><%= object.title %></td>
  <td><%= object.requestor %></td>
  <td><%= object.type %></td>
  <td>
    <%= object.workflow_state %>
  </td>
  <td>
    <%= raw object.fair_use_display %>
  </td>
  <td>
    <%= object.workflow_state %>
  </td>
</tr>

