<tr>
  <td>
    <p class="author"><i class="icon-book" title="journal"></i> <%= h object.creator %></p>
    <p class="title"><%= link_to h(object.title), student_listing_get_listing_path(object.course.id, object.id) %></p>
  </td>
  <td><%= simple_format(object.student_comments) %></td>
  <td>
    <%= h object.length %>
    <%= render :partial => 'external/request/lists/citation', :locals => { object: object } %>
  </td>
  <td><%= object.tags.join(",") %></td>
</tr>

