

<% if !params[:no_player] %>
  <% # @jwplayer.jwplayer%>
<% end %>

<%
params[:type] = 'video' if !params[:type]

if params[:type] == 'audio'
  media_playlist = MediaPlaylist.new(type: 'audio', rows: [ { title: 'audio 1', file: 'C00139/C00139_0114.mp3' }, { title: 'audio2', file: 'C00139/C00139_0114.mp3' } ])

elsif params[:type] == 'single'
  type = 'video'
  size = 'single'
  playlist = {
    '1' => {
      title: 'big buck bunny 1',
      file: 'wowza-pprd-vm.library.nd.edu:1935/vod/mp4:big_buck_bunny_full.mov',
      token: '?t=cbdb3833e495d7c9230643f90ae16e67',
      type: "hls"
    }
  }
else
  type = 'video'
  size = 'multiple'
  playlist = {
    '1' => {
      title: 'big buck bunny 1',
      file: 'wowza-pprd-vm.library.nd.edu:1935/vod/mp4:big_buck_bunny_full.mov',
      token: '?t=cbdb3833e495d7c9230643f90ae16e67',
      type: "hls"
    },
    '2' => {
      title: 'big buck bunny 2',
      file: 'wowza-pprd-vm.library.nd.edu:1935/vod/mp4:big_buck_bunny_full.mov',
      token: '?t=cbdb3833e495d7c9230643f90ae16e67',
      type: "hls"
    }
  }
end

c = CourseSearch.new.get('video_test_course')

#r = Reserve.factory(Request.new, c)
#r.save!

# SaveReserveMediaPlaylist.call(r) do |


%>

<% # @jwplayer.rstp_link %>

<% content_for(:content_title) do %>
  <h1>Big Buck Bunny</h1>
  <p class="lead">
    Bob bobbers<br />
    <small>Some People who make movies</small>
  </p>
<% end %>
<% content_for(:content_title_links) do %>
  <a href="/documentation/troubleshooting" target="blank" class="btn">Trouble Viewing the Material?</a>
<% end %>

<div class="twelve columns">
  <div id='jwplayer'>
    <p>dasfads</p><p>asdfdfas</p>
  </div>
</div>

<!-- script type='text/javascript'>
jwplayer('jwplayer').setup({
  "androidhls": true,
  "fallback":true,
  "html5player":"/assets/jwplayer.html5.js",
  "flashplayer":"/assets/jwplayer.flash.swf",
  "logo": { "file":"/assets/hesburgh.png", "link":"http://library.nd.edu"},
  <% if type == 'audio' %>
    "autostart":false,
    "width": 480,
    "height": 480,
    <% if size == 'multiple' %>
    "listbar": {
      "layout":"basic",
      "position":"bottom",
      "size": 400
    },
    <% end %>
  <% else %>
    "autostart":true,
    "aspectratio":"16:9",
    "width": '80%',
    <% if size == 'multiple' %>
    "listbar": {
        "position": "right",
        "size": '20%',
        "layout": 'basic'
      },
    <% end %>
  <% end %>
  "playlist": [
  <% playlist.each do | id, list | %>
    {
    "sources":[
      {"file":"http://<%= list[:file] %>/playlist.m3u8<%= list[:token] %>"},
      {"file":"rtmpt://<%= list[:file] %><%= list[:token] %>"}
    ],
    "title": "<%= list[:title] %>"
    },
  <% end %>
    ]}
  );
</script -->

<div id='jwplayer'>Loading the player...<h3>Troubleshooting</h3><ol><li>Check to see if you have <a href="http://get.adobe.com/flashplayer/" target="_blank">flash</a> installed.</li><li>We recommend using <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a></li></div><script type='text/javascript'>jwplayer('jwplayer').setup({"fallback":false,"primary":"html5","html5player":"/assets/jwplayer.html5.js","flashplayer":"/assets/jwplayer.flash.swf","playlist":[{"sources":[{"file":"rtmpt://wowza-pprd-vm.library.nd.edu:1935/vod?t=!localtoken662778!mp4:StreamingVideo/big_buck_bunny_full.mov"},{"file":"http://wowza-pprd-vm.library.nd.edu:1935/vod/mp4:StreamingVideo/big_buck_bunny_full.mov/playlist.m3u8?t=!localtoken662778!"}],"title":"test"}],"androidhls":true,"logo":{"file":"/assets/hesburgh.png","link":"http://library.nd.edu"},"autostart":true,"aspectratio":"16:9","width":"80%"});</script>

<a href="rtsp://wowza-pprd-vm.library.nd.edu:1935/aod/_definst_/mp3:C00139/C00139_0114.mp3">Play Audio</a>

<a href="http://wowza-pprd-vm.library.nd.edu:1935/aod/_definst_/mp3:C00139/C00139_0114.mp3/playlist.m3u8">Option 2</a>

