<% content_for(:content_title) do %>
  <h1>Semesters</h1>
<% end %>

<% content_for(:content_title_links) do %>
  <%= link_to 'New Semester', new_semester_path, class: "btn btn-primary" %>
<% end %>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Semester</th>
    <th>Code</th>
    <th>Dates</th>
  </tr>
  </thead>
  <tbody>
    <% @semesters.each do | semester | %>
      <tr>
        <td><%= link_to h(semester.name), edit_semester_path(semester) %></td>
        <td><%= semester.code %></td>
        <td><%= semester.date_begin.to_s(:long_ordinal) %> - <%= semester.date_end.to_s(:long_ordinal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
