<div class="row ndl-datatables-filters">
  <div class="span3">
    <%= label_tag('filter_keyword', 'Search') %>
    <%= text_field_tag('filter_keyword', "", placeholder: "Title, Instructor or Course") %>
  </div>
  <div class="span3 request_status_filter">
    <span class="filter-label">Status</span>
    <% RequestTab.statuses.reject{|s| s == 'all'}.each do |status| %>
      <label class="checkbox">
        <%= check_box_tag("request_status_filter", status, false) %> <%= t("request_status.#{status}") %>
      </label>
    <% end %>
  </div>
  <div class="span3 request_type_filter">
    <span class="filter-label">Material Type</span>
    <% RequestFilter::VALID_TYPES.each do | type | %>
      <label class="checkbox">
        <%= check_box_tag("request_type_filter", type, filter.type_selected?(type), class: (filter.default_type?(type) ? 'default' : nil)) %> <%= type.gsub('Reserve', '') %>
      </label>
    <% end %>
  </div>
  <div class="span3 request_library_filter">
    <span class="filter-label">Library</span>
    <% RequestFilter::VALID_LIBRARIES.each do | library | %>
      <label class="checkbox">
        <%= check_box_tag("request_library_filter", library, filter.library_selected?(library), class: (filter.default_library?(library) ? 'default' : nil)) %> <%= t("libraries.#{library}") %>
      </label>
    <% end %>
  </div>
  <div class="span3 request_physical_electronic_filter">
    <span class="filter-label">Reserve Type</span>
    <label class="radio">
      <%= radio_button_tag("request_physical_electronic_filter", '', true, class: 'all default') %> All Reserve Types
    </label>
    <% ['physical','electronic'].each do | type | %>
      <label class="radio">
        <%= radio_button_tag("request_physical_electronic_filter", type, false) %> <%= type.titleize %>
      </label>
    <% end %>
    <label class="radio">
      <%= radio_button_tag("request_physical_electronic_filter", 'physical electronic', false) %>Physical and Electronic
    </label>
  </div>
</div>
