<div class="row ndl-datatables-filters">
  <div class="span3">
    <%= label_tag('filter_keyword', 'Search') %>
    <%= text_field_tag('filter_keyword', "", placeholder: "Title, Instructor or Course") %>
  </div>
  <div class="span2 request_type_filter">
    <%= label_tag('request_type_filter', 'Type') %>
    <% RequestFilter::VALID_TYPES.each do | type | %>
      <label class="checkbox"><input name="admin_request_filter[types][]" value="<%= type %>" type="checkbox" <%= filter.type_selected?(type) ? 'checked="true"' : '' %>> <%= type.gsub('Reserve', '') %></label>
    <% end %>
  </div>
  <div class="span3 request_library_filter">
    <%= label_tag('request_type_filter', 'Library') %>
    <% RequestFilter::VALID_LIBRARIES.each do | library | %>
      <label class="checkbox"><input name="admin_request_filter[libraries][]" value="<%= library %>" type="checkbox" <%= filter.library_selected?(library) ? 'checked="true"' : '' %> > <%= t("libraries.#{library}") %></label>
    <% end %>
  </div>
</div>
