<div class="row ndl-datatables-filters">
  <div class="span3">
    <%= label_tag('filter_keyword', 'Search') %>
    <%= text_field_tag('filter_keyword', "", placeholder: "Title, Instructor or Course") %>
  </div>
  <div class="span3 request_status_filter">
    <label class="checkbox">
      <%= check_box_tag("request_status_filter", '', true, class: 'all') %> All Statuses
    </label>
    <% RequestTab.statuses.reject{|s| s == 'all'}.each do |status| %>
      <label class="checkbox">
        <%= check_box_tag("request_status_filter", status, false) %> <%= t("request_status.#{status}") %>
      </label>
    <% end %>
  </div>
  <div class="span3 request_type_filter">
    <label class="checkbox">
      <%= check_box_tag("request_type_filter", '', true, class: 'all') %> All Material Types
    </label>
    <% RequestFilter::VALID_TYPES.each do | type | %>
      <label class="checkbox">
        <%= check_box_tag("request_type_filter", type, false) %> <%= type.gsub('Reserve', '') %>
      </label>
    <% end %>
  </div>
  <div class="span3 request_library_filter">
    <label class="checkbox">
      <%= check_box_tag("request_library_filter", '', true, class: 'all') %> All Libraries
    </label>
    <% RequestFilter::VALID_LIBRARIES.each do | library | %>
      <label class="checkbox">
        <%= check_box_tag("request_library_filter", library, false) %> <%= t("libraries.#{library}") %>
      </label>
    <% end %>
  </div>
  <div class="span3 request_physical_electronic_filter">
    <label class="radio">
      <%= radio_button_tag("request_physical_electronic_filter", '', true, class: 'all') %> All Reserve Types
    </label>
    <% ['physical','electronic'].each do | type | %>
      <label class="radio">
        <%= radio_button_tag("request_physical_electronic_filter", type, false) %> <%= type.titleize %>
      </label>
    <% end %>
    <label class="radio">
      <%= radio_button_tag("request_physical_electronic_filter", 'physical electronic', false) %>Physical and Electronic
    </label>
  </div>
</div>
