<div class="ndl-datatables-filters">
  <div class="row-fluid">
    <div class="span2">
      <div class="request_status_filter">
        <%= label_tag("request_status_filter", "Status") %>
        <% status_options = options_for_select([['All Statuses','']] + filter.all_statuses.collect{|status| [t("request_status.#{status}"), status]}, filter.default_status) %>
        <%= select_tag('request_status_filter', status_options, default: filter.default_status, class: 'input-medium') %>
      </div>
    </div>
    <div class="span3">
      <div class="request_keyword_filter">
        <%= label_tag('filter_keyword', 'Search') %>
        <%= text_field_tag('filter_keyword', "", placeholder: "Search Title, Instructor or Course") %>
      </div>
    </div>
    <div class="span7">
      <div class="accordion" id="advancedSearchAccordian">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#advancedSearchAccordian" href="#advancedSearchForm">
              Advanced Search <i class="icon-chevron-right advanced-toggle-icon"></i>
            </a>
          </div>
          <div id="advancedSearchForm" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="row-fluid">
                <div class="span4">
                  <div class="request_type_filter">
                    <%= label_tag("request_type_filter", "Material Type") %>
                    <%= render partial: "users/request_filter_material_type", locals: {filter: filter} %>
                  </div>
                </div>
                <div class="span4">
                  <div class="request_library_filter">
                    <%= label_tag("request_library_filter", "Library") %>
                    <%= render partial: "users/request_filter_library", locals: {filter: filter} %>
                  </div>
                </div>
                <div class="span4">
                  <div class="request_physical_electronic_filter">
                    <%= label_tag("request_physical_electronic_filter", "Reserve Type") %>
                    <%= render partial: "users/request_filter_reserve_type", locals: {filter: filter} %>
                  </div>
                  <div class="request_instructor_filter">
                    <%= label_tag('filter_instructor_range_begin', 'Instructor Last Initial') %>
                    <%= render partial: "users/request_filter_instructor", locals: {filter: filter} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
