<div class="row-fluid ndl-datatables-filters">
  <div class="span3">
    <%= label_tag('filter_keyword', 'Search') %>
    <%= text_field_tag('filter_keyword', "", placeholder: "Title, Instructor or Course") %>
    <%= label_tag('filter_instructor_range_begin', 'Instructor Last Initial') %>
    <%= select_tag('filter_instructor_range_begin', options_for_select(('A'..'Z'), 'A'), class: 'input-mini') %> to
    <%= select_tag('filter_instructor_range_end', options_for_select(('A'..'Z'), 'Z'), class: 'input-mini') %>
  </div>
  <div class="span2 request_status_filter">
    <span class="filter-label">Status</span>
    <label class="radio">
      <%= radio_button_tag("request_status_filter", '', false, class: 'all') %> All
    </label>
    <% filter.all_statuses.each do |status| %>
      <label class="radio">
        <%= radio_button_tag("request_status_filter", status, filter.status_selected?(status), class: (filter.default_status?(status) ? 'default' : nil)) %> <%= t("request_status.#{status}") %>
      </label>
    <% end %>
  </div>
  <div class="span2 request_type_filter">
    <span class="filter-label">Material Type</span>
    <% filter.all_types.each do | type | %>
      <label class="checkbox">
        <%= check_box_tag("request_type_filter", type, filter.type_selected?(type), class: (filter.default_type?(type) ? 'default' : nil)) %> <%= type.gsub('Reserve', '') %>
      </label>
    <% end %>
  </div>
  <div class="span3 request_library_filter">
    <span class="filter-label">Library</span>
    <% filter.all_libraries.each do | library | %>
      <label class="checkbox">
        <%= check_box_tag("request_library_filter", library, filter.library_selected?(library), class: (filter.default_library?(library) ? 'default' : nil)) %> <%= t("libraries.#{library}") %>
      </label>
    <% end %>
  </div>
  <div class="span2 request_physical_electronic_filter">
    <span class="filter-label">Reserve Type</span>
    <label class="radio">
      <%= radio_button_tag("request_physical_electronic_filter", '', true, class: 'all default') %> All
    </label>
    <% ['physical','electronic'].each do | type | %>
      <label class="radio">
        <%= radio_button_tag("request_physical_electronic_filter", type, false) %> <%= type.titleize %>
      </label>
    <% end %>
    <label class="radio">
      <%= radio_button_tag("request_physical_electronic_filter", 'physical electronic', false) %>Physical &amp; Electronic
    </label>
  </div>
</div>
