<div class="ndl-datatables-filters">
  <div class="row-fluid">
    <div class="span2">
      <div class="request_status_filter">
        <%= label_tag("request_status_filter", "Status") %>
        <% status_options = options_for_select([['All Statuses','']] + filter.all_statuses.collect{|status| [t("request_status.#{status}"), status]}, filter.default_status) %>
        <%= select_tag('request_status_filter', status_options, default: filter.default_status, class: 'input-medium') %>
      </div>
    </div>
    <div class="span3">
      <div class="request_keyword_filter">
        <%= label_tag('filter_keyword', 'Search') %>
        <%= text_field_tag('filter_keyword', "", placeholder: "Search Title, Instructor or Course") %>
      </div>
    </div>
    <div class="span7">
      <div class="accordion" id="advancedSearchAccordian">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#advancedSearchAccordian" href="#advancedSearchForm">
              Advanced Search <i class="icon-chevron-right advanced-toggle-icon"></i>
            </a>
          </div>
          <div id="advancedSearchForm" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="row-fluid">
                <div class="span4">
                  <div class="request_type_filter">
                    <%= label_tag("request_type_filter", "Material Type") %>
                    <% filter.all_types.each do | type | %>
                      <label class="checkbox">
                        <%= check_box_tag("request_type_filter", type, filter.type_selected?(type), class: (filter.default_type?(type) ? 'default' : nil), id: "request_type_filter_#{type}") %> <%= type.gsub('Reserve', '') %>
                      </label>
                    <% end %>
                  </div>
                </div>
                <div class="span4">
                  <div class="request_library_filter">
                    <%= label_tag("request_library_filter", "Library") %>
                    <% filter.all_libraries.each do | library | %>
                      <label class="checkbox">
                        <%= check_box_tag("request_library_filter", library, filter.library_selected?(library), class: (filter.default_library?(library) ? 'default' : nil), id: "request_library_filter_#{library}") %> <%= t("requests_admin.libraries.#{library}") %>
                      </label>
                    <% end %>
                  </div>
                </div>
                <div class="span4">
                  <div class="request_physical_electronic_filter">
                    <%= label_tag("request_physical_electronic_filter", "Reserve Type") %>
                    <% physical_electronic_options = options_for_select([['All','']] + filter.all_reserve_types.collect{|type| [t("requests_admin.reserve_types.#{type}")]}, filter.default_reserve_type) %>
                    <%= select_tag('request_physical_electronic_filter', physical_electronic_options) %>
                  </div>
                  <div class="request_instructor_filter">
                    <%= label_tag('filter_instructor_range_begin', 'Instructor Last Initial') %>
                    <%= select_tag('filter_instructor_range_begin', options_for_select(filter.all_instructor_range_values, filter.default_instructor_range_begin), class: 'input-mini') %> to
                    <%= select_tag('filter_instructor_range_end', options_for_select(filter.all_instructor_range_values, filter.default_instructor_range_end), class: 'input-mini') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
