<% content_for(:content_title) do %>
  <div class="page-header"><h1>Edit <%= @user.display_name %></h1></div>
<% end %>
<div>
<p>Select the types of reserves and library locations this user should administer. </p>
</div>
<% @admin_params = RequestParams.new(self, @user) %>
<%= form_for @user do | f | %>

  <%= render partial: 'user_request_types_form', locals: { admin_params: @admin_params } %>


  <div class="form-actions">
    <%= f.submit :submit, :value=> 'Save', :class => 'btn btn-primary'%>
    <%= link_to 'cancel', users_path %>
  </div>
<% end %>
