<h2><%= title %></h2>

<% if instructed_courses.size > 0 %>
<table class="table table-striped instructed_courses">
  <thead>
    <tr>
      <th>Course</th>
      <th>Sections</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% instructed_courses.each do | course | %>
    <tr>
      <td>
        <a href="<%= course_path(course.id) %>"><%= h course.title %></a>
        <ul>
          <% course.crosslisted_course_ids.each do | cid | %>
            <li><%= raw cid %></li>
          <% end %>
        </ul>
      </td>
      <td><%= h course.section_numbers.join(", ") %></td>
      <td>
        <% if CreateNewReservesPolicy.new(course).can_create_new_reserves? %>
          <%= link_to 'Request Material', new_course_reserve_path(course.id), class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
 <p class="alert">
    You do not currently have any courses for this semester.  It could just be that the courses have not been published to the reserve tool yet.  Please check back later.
  </p>
<% end %>
