<% content_for(:content_title) do %>
  <h1><%= h @user_course_show.title %> <small><%= h @user_course_show.semester_name %></small></h1>
  <p class="lead">
    <%= @user_course_show.instructor_name %><br />
    <small>Sections: <%= @user_course_show.sections %></small>
  </p>
<% end %>

<% if @user_course_show.current_or_future_semester? %>
  <% breadcrumb([ link_to('Courses', courses_path), @user_course_show.title ]) %>
<% else %>
  <% breadcrumb([ link_to('Courses', courses_path), link_to('Archived Courses', archived_courses_path), @user_course_show.title ]) %>
<% end %>

<%= render partial: 'table_filter', locals: { course: @user_course_show.course } %>

<%= render @user_course_show.show_partial %>
