<% content_for(:content_title) do %>
  <h1>Copy From <%= h @copy_course_listing.from_course_title %> <small>To <%= h @copy_course_listing.to_course_title %></small></h1>
<% end %>

<%= render partial: 'copy_form', locals: { from_course: @copy_course_listing.from_course, to_course: @copy_course_listing.to_course } %>

<% if @copy_course_listing.copy_from_reserves.size > 0 %>
<table class="table table-striped find-resources copy_reserve_datatable datatable" id="copyReservesTable">
  <thead>
    <tr>
      <th>Copy</th>
      <th>Reserve</th>
      <th>Sortable Title</th>
    </tr>
  </thead>
  <tbody>
    <% @copy_course_listing.copy_from_reserves.each do | reserve | %>
      <tr>
        <td>
          <%= check_box_tag 'copy', reserve.id, false, class: "copy-reserve" %>
        </td>
        <td>
          <%= render :partial => '/course_reserves/list_record', :locals => { object: reserve} %>
        </td>
        <td>
          <%= reserve.sortable_title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="alert">
    <strong>There are no reserves requested for this class. </strong>
  </p>
<% end %>


