<% content_for(:content_title) do %>
  <div class="page-header"><h1>Find Courses</h1></div>
<% end %>
<% content_for(:content_title_links) do %>

<% end %>

<% breadcrumb([ 'Find Courses ']) %>

<form class="well form-search">
  <p>
    <label for="q">
      Search For
    </label>
    <input id="q" class="input-large" type="text" name="q" value="<%= params[:q] %>" style="width:200px; height: 30px;" /> in
    <select name="semester_id" class="search_select">
      <%= options_for_select(@admin_course_listing.semester_option_array, @admin_course_listing.semester.id) %>
    </select>
    <button type="submit" class="btn">Go</button>
  </p>
</form>

<% if @admin_course_listing.has_searched? %>

  <% if !@admin_course_listing.has_results? %>
    <div class="alert">There are no courses for your search.</div>
  <% else %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Course</th>
          <th>Instructor</th>
          <th>Cross Listings</th>
          <th>Sections</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @admin_course_listing.search.each do | course | %>
        <tr>
          <td>
            <a href="<%= course_reserves_path(course.id) %>"><%= h course.title %></a>
          </td>
          <td>
            <%= link_to h(course.instructor_name), new_masquerades_path(:username => course.instructor_netid) %>
          </td>
          <td>
            <% course.crosslisted_course_ids.each do | cid | %>
              <%= raw cid %><br>
            <% end %>
          </td>
          <td><%= h course.section_numbers.join(", ") %></td>
          <td>
            <% if CreateNewReservesPolicy.new(course).can_create_new_reserves? %>
              <%= render partial: "/courses/instructor_new_reserve_menu", locals: { course: course, highlight: false } %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<div id="add_user" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add Missing User</h3>
  </div>
  <div class="modal-body">
    <p>
      <label>
        Netid
        <input type="text" name="netid" />
      </label>
      <label>
        Type
        <select><option>Student</option><option>Instructor</option></select>
      </label>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
    <a href="#" data-dismiss="modal" class="btn btn-primary">Add</a>
  </div>
</div>
