<div id="discovery_meta_data">
  <%= f.input :nd_meta_data_id, label: "ND Record ID" %>

  <%= f.input :on_order, as: :boolean %>

  <%= link_to "Not in our Records", "#", class: "show_full_meta_data" %>
</div>

<div id="full_meta_data">
  <%= f.input :title %>

  <%= f.input :creator %>

  <%= f.input :publisher %>

</div>
