<% object = AdminReserveRow.new(object, self) %>
<tr>
  <td><%= object.needed_by %></td>
  <td><%= object.title %></td>
  <td><%= object.request_date %></td>
  <td><%= object.requestor_col %></td>
  <td><%= object.course_col %></td>
  <td><%= object.type %></td>
  <td>
    <%# object.missing_data %>
  </td>
</tr>
