<% content_for(:content_title) do %>
  <div class="page-header">
    <h1>Requests</h1>
  </div>
<% end %>
<% content_for(:content_title_links) do %>
  <a href="#filter_form" data-toggle="modal" class="btn btn-primary">Filter Request Results</a>
<% end %>

<%
breadcrumb(['Requests'])
%>

<%= render :partial => 'request_tabs', locals: { :filter => @admin_request_listing.request_tabs }%>

<table class="table table-striped find-resources admin_datatable datatable">
  <thead>
    <tr>
      <th>Date Needed</th>
      <th>Title</th>
      <th>Request Date</th>
      <th>Requestor</th>
      <th>Course</th>
      <th>Type</th>
      <th>Missing Data</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_request_listing.reserves.each do | reserve | %>
      <%= render :partial => 'admin_list_row', :locals => { object: reserve } %>
    <% end %>
  </tbody>
</table>

<%
filter = @admin_request_listing.request_filter
semester = @admin_request_listing.semester
%>
<div class="modal hide" id="filter_form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Filter Requests for</h3>
  </div>
  <form src="<%= requests_path() %>" method="get">
    <div class="modal-body">
      <fieldset id="topic_list">
        <legend>For Types</legend>
        <% RequestFilter::VALID_TYPES.each do | type | %>
          <label class="checkbox"><input name="admin_request_filter[types][]" value="<%= type %>" type="checkbox" <%= filter.type_selected?(type) ? 'checked="true"' : '' %>> <%= type.gsub('Reserve', '') %></label>
        <% end %>
      </fieldset>

      <fieldset id="topic_list">
        <legend>For Library </legend>
        <% RequestFilter::VALID_LIBRARIES.each do | library | %>
          <label class="checkbox"><input name="admin_request_filter[libraries][]" value="<%= library %>" type="checkbox" <%= filter.library_selected?(library) ? 'checked="true"' : '' %> > <%= library.titleize %></label>
        <% end %>
      </fieldset>

      <fieldlist id="semester">
        <legend>Semester</legend>
        <select name="semester_id">
          <option value="false">Current and Upcoming</option>
          <% Semester.chronological.each do | s | %>
            <option value="<%= s.id %>" <%= semester && semester.id == s.id ? 'selected' : '' %>><%= s.name %></option>
          <% end %>
        </select>
      </fieldlist>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save changes</button>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
    <input type="hidden" name="tab" value="<%= params[:tab] %>">
  </form>
</div>

