<%
filter = @admin_request_listing.request_filter
%>
<% content_for(:content_title) do %>
  <div class="page-header">
    <h1>Requests <small><%= @admin_request_listing.semester_title %></small></h1>
  </div>
<% end %>
<% content_for(:content_title_links) do %>
  <a href="#filter_form" data-toggle="modal" class="btn btn-primary">Filter Request Results</a>
<% end %>

<%
breadcrumb(['Requests'])
%>


<div class="request_status_filter">
  <%= render :partial => 'request_tabs', locals: { :filter => @admin_request_listing.request_tabs }%>
</div>

<div class="table_filter">
  <%= render :partial => "/users/request_types_form", :locals => { :filter => filter } %>
</div>

<table class="table table-striped find-resources admin_datatable datatable responsive">
  <thead>
    <tr>
      <th>Date Needed</th>
      <th>Title</th>
      <th>Request Date</th>
      <th>Instructor</th>
      <th>Course</th>
      <th>Type</th>
      <th>Req Date Timestamp</th>
      <th>Needed Timestamp</th>
      <th>Tags</th>
      <th>Status</th>
      <th>Library</th>
      <th>Full Type</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<div class="modal hide" id="filter_form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Filter Requests for</h3>
  </div>
  <form src="<%= requests_path() %>" method="get">
    <div class="modal-body">



      <fieldlist id="semester">
        <legend>Semester</legend>
        <select name="admin_request_filter[semester_id]">
          <option value="false">Current and Upcoming</option>
          <% Semester.chronological.each do | s | %>
            <option value="<%= s.id %>" <%= filter.semester_filter && filter.semester_filter.to_s == s.id.to_s ? 'selected' : '' %>><%= s.name %></option>
          <% end %>
        </select>
      </fieldlist>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save changes</button>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
    <% if params[:tab] %>
      <input type="hidden" name="tab" value="<%= params[:tab] %>">
    <% end %>
  </form>
</div>

