<% content_for(:content_title) do %>
  <%= render partial: '/requests/request_header', locals: { reserve: @admin_reserve.reserve } %>
<% end %>

<%
breadcrumb([link_to('Requests', requests_path(:filter => @admin_reserve.workflow_state)), h(@admin_reserve.title) ])
%>
<div class="three columns">
  <%= render partial: 'request_edit_form', locals: { reserve: @admin_reserve.reserve } %>
</div>
<div class="nine columns">
  <table class="table table-striped table-hover" id="request_item_info">
    <tbody>
      <tr><td>State: </td><td><%= raw @admin_reserve.workflow_state_html %></td></tr>
      <tr>
        <td>Fulfillment Library: </td>
        <td id="fulfillment_library">
          <%= raw @admin_reserve.library %>
          <span id="fulfillment_change"><a href="">change</a></span>
        </td>
        <td id="fulfillment_library_select" nowrap>
          <%= simple_form_for @library_form, url: library_path(@library_form.reserve.id), method: 'put' do | f | %>
            <%= library_select_form(f, false) %>
            <%= f.button :submit, "Save", :class => 'btn btn-primary horizontal-button' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td style="width:25%">Needed By: </td>
        <td id="needed_by_date">
          <%= @admin_reserve.needed_by %>
          <span id="needed_by_change"><a href="">change</a></span>
        </td>
        <td id="needed_by_select" nowrap>
          <%= simple_form_for @needed_by_form, url: needed_by_path(@needed_by_form.reserve.id), method: 'put' do | f | %>
            <%= f.input_field :needed_by, as: "string", label: false %>
            <%= f.button :submit, "Save", :class => 'btn btn-primary horizontal-button' %>
          <% end %>
        </td>
      </tr>
      <tr><td>Requested On: </td><td><%= @admin_reserve.created_at.to_s(:long) %></td></tr>
      <tr><td>Requestor:</td><td><%= @admin_reserve.requestor %></td></tr>
      <tr><td>Instructor Input:</td><td><%= @admin_reserve.instructor_notes %></td></tr>

      <tr>
        <td>Required Material: </td>
        <td id="required_material">
          <%= @admin_reserve.required_material %>
          <span id="required_material_change"><a href="">change</a></span>
        </td>
        <td id="required_material_select" nowrap>
          <%= simple_form_for @required_material_form, url: required_material_path(@required_material_form.reserve.id), method: 'put' do | f | %>
            <%= f.input :required_material, as: :radio_buttons %>
            <%= f.button :submit, "Save", :class => 'btn btn-primary horizontal-button' %>
          <% end %>
        </td>
      </tr>

      <tr><td>Type:</td><td><%= @admin_reserve.physical_electronic_link %></td></tr>
      <tr>
        <td>Notes: </td>
        <td id="request_message">
          <span id="add_request_message"><a href="">add</a></span>
        </td>
        <td id="request_message_note" nowrap>
          <%= simple_form_for :add_message, url: '/admin/add_message', method: 'post' do | f | %>
            <%= f.input :request_id, label: false, :as => :hidden, input_html: { value: @admin_reserve.reserve.id } %>
            <%= f.input :content, label: false, :as => :text, :input_html => { :rows => 7 , :style => 'width: 100%'} %>
            <%= f.button :submit, "Save", :class => 'btn btn-primary horizontal-button' %>
          <% end %>
      </td>
      </tr>
      <tr>
        <td colspan="2">
          <table class="table table-striped table-hover">
            <tbody>
              <% @admin_reserve.message.each do |msg| %>
                <tr>
                  <td><%= msg.creator %> - <%= msg.created_at %>: <pre><%= msg.content %></pre></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    </tr>
    </tbody>
  </table>
  <div class="find-resources">
    <h4>Record Preview</h4>
    <%= render :partial => '/course_reserves/list_record', :locals => { object: @admin_reserve.reserve } %>
  </div>

  <hr>

  <h4>Statistics</h4>
  <dl class="dl-horizontal long-dt">
    <% @admin_reserve.overall_views.each do |key, val| %>
      <dt>Number of Clicks for <%= key %></dt>
      <dd><%= val %></dd>
    <% end %>
  </dl>

</div>

<hr>

<%= @admin_reserve.delete_link %>

<!-- Modal -->
<div id="check_availability" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Check Availability</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
