<% content_for(:content_title) do %>
  <%= render partial: '/requests/request_header', locals: { reserve: @admin_reserve.reserve } %>
<% end %>

<%
breadcrumb([link_to('Requests', requests_path(:filter => @admin_reserve.workflow_state)), h(@admin_reserve.title) ])
%>
<div class="three columns">
  <%= render partial: 'request_edit_form', locals: { reserve: @admin_reserve.reserve } %>
</div>
<div class="nine columns">
  <table class="table table-striped table-hover">
    <tbody>
      <tr><td>State: </td><td><%= raw @admin_reserve.workflow_state %></td></tr>
      <tr><td style="width:25%">Needed By: </td><td><%= @admin_reserve.needed_by %></td></tr>
      <tr><td>Requestor:</td><td><%= @admin_reserve.requestor %></td></tr>
      <tr><td>Requested On: </td><td><%= @admin_reserve.created_at.to_s(:long) %></td></tr>
      <tr><td>Citation:</td><td><%= raw @admin_reserve.citation %></td></tr>
      <tr><td>Special Instructions:</td><td><%= raw @admin_reserve.special_instructions %></td></tr>
      <tr><td>Fair Use Comments:</td><td><%= @admin_reserve.fair_use_comments %></td></tr>
      <tr><td>Type:</td><td>Physical and Electronic Reserve. <%= link_to 'Change', '#' %></td></tr>
    </tbody>
  </table>
  <div class="find-resources">
    <h4>Record Preview</h4>
    <%= render :partial => '/course_reserves/list_record', :locals => { object: @admin_reserve.reserve } %>
  </div>

  <hr>

  <h4>Statistics</h4>
  <dl class="dl-horizontal long-dt">
    <dt>Number of Clicks for <%= @admin_reserve.semester_code %>:</dt>
    <dd><%= @admin_reserve.number_of_views_for_current_request %></dd>

    <dt>Number of Clicks Alltime:</dt>
    <dd><%= @admin_reserve.number_of_views_all_time %></dd>
  </dl>

</div>

<hr>

<%= @admin_reserve.delete_link %>





