
<h3>2. Article Details </h3>

<%= simple_form_for object, :html => {id: "article_form"}, :url => course_reserves_path() do |f| %>

  <%= f.input :journal_title, :required => true %>
  <%= f.input :title %>
  <%= f.input :creator, :required => true %>

  <%= f.input :needed_by do %>
    <%= f.input_field :needed_by, as: "string", id: "article_needed_by_id", class: 'datepicker span2' %>
  <% end %>

  <%= library_select_form(f) %>

  <%= f.input :note, label: "Special Instuctions" do %>
    <%= f.input_field :note, as: "text", placeholder: "e.g. Volumne, Issue, Date, Pages and other notes to identify the work. ", rows: 5 %>
  <% end %>

  <%= f.input :requestor_has_an_electronic_copy, label: false do %>
    <%= f.input_field :requestor_has_an_electronic_copy, as: :boolean, inline_label: "I have an electronic copy.", label: false, class: 'has_electronic_copy_checkbox' %>
    <div class="has_electronic_copy">
      <%= f.input_field :pdf, as: 'file', label: 'Electronic Copy' %>
    </div>
  <% end %>

  <%= hidden_field_tag 'instructor_reserve_request[type]', 'JournalReserve' %>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class => 'btn-primary' %>
    <%= link_to 'Cancel', course_path(object.course.id), :class => "btn btn-danger" %>
  </div>
<% end %>
