
<h3>Audio Request Details</h3>

<%= simple_form_for object, :html => {id: "audio_form"}, :url => course_reserves_path() do |f| %>
  <%= f.input :journal_title, label: 'Album' %>
  <%= f.input :title %>
  <%= f.input :creator %>

  <%= f.input :length, label: "Tracks / Clips" do %>
    <%= f.input_field :length %>
  <% end %>

  <%= f.input :needed_by do %>
    <%= f.input_field :needed_by, as: "string", id: "audio_needed_by_id", class: 'datepicker span2' %>
  <% end %>

  <%= f.input :note, label: "Special Instuctions" do %>
    <%= f.input_field :note, as: "text", placeholder: "Other notes to identify the work. ", rows: 5 %>
  <% end %>

  <%= hidden_field_tag 'instructor_reserve_request[library]', 'Hesburgh' %>
  <%= hidden_field_tag 'instructor_reserve_request[type]', 'AudioReserve' %>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class => 'btn-primary' %>
    <%= link_to 'Cancel', course_path(object.course.id) %>
  </div>
<% end %>
