<%= simple_form_for @r,
  :url => url_for(:action => 'create', :controller => 'external/request'),
  :html => {:class => 'form-horizontal' } do |r| %>
  <%= r.error_notification %>
  <%= r.input :title, :label => "Video Title", :input_html => { :id => "r_title", :class => "span6" } %>
  <%= r.input :library_owned, :label => "Library Owns?", :input_html => { :id => "r_library_owned" } %>
  <%= r.input :repeat_request, :label => "Repeat Request?", :input_html => { :id => "r_repeat_request" } %>
  <%= r.input :course, :label => "Course", :hint => "should be formatted as FA12 BUS 3021 01", :input_html => { :id => "r_course", :class => "span4" }%>
  <%= r.association :semester, :as => 'select', :include_blank => 'Please Select', :label_method => 'full_name', :label => "Semester", :input_html => { :id => "r_semester", :class => "span4" } %>
  <%= r.input :language, :label => "Language", :input_html => { :id => "r_language", :class => "span4" }%>
  <%= r.input :needed_by, :label => "Date Needed By", :as => :date_picker, :input_html => { :id => "r_needed_by", :class => "span4" } %>
  <%= r.input :note, :label => "Special Instructions", :input_html => { :id => "r_note", :class => "span6" } %>
  <div class="form-actions span6">
    <%= r.button :submit, :class => 'btn-primary'%>
  </div>
<% end %>
