<%= simple_form_for @r,
  :url => url_for(:action => 'create', :controller => 'external/request'),
  :html => {:class => 'form-horizontal' } do |r| %>
  <%= r.error_notification %>
  <%= r.input :title, :label => "Video Title", :input_html => { :id => "r_title", :class => "span6" } %>
  <%= r.input :course, :label => "Course", :input_html => { :id => "r_course", :class => "span6" }%>
  <%= r.association :semester, :as => :select, :label => "Semester", :input_html => { :id => "r_semester", :class => "span6" } %>
  <%= r.input :language, :label => "Language", :input_html => { :id => "r_language", :class => "span6" }%>
  <%= r.input :needed_by, :label => "Date Needed By", :as => :date_picker, :input_html => { :id => "r_needed_by", :class => "span4" } %>
  <%= r.input :note, :label => "Special Instructions", :input_html => { :id => "r_note", :class => "span4" } %>
  <div class="form-actions">
    <%= r.button :submit, :class => 'btn-primary'%>
  </div>
<% end %>
