<p>Below are some common causes of this issue.  If you feel like this is an error please feel free to <%= link_to "Report a Problem", new_report_problem_path(path: "404_error_page") %></p>

<% if !@masquerading_user.blank? %>
  <h4 style="color:#AD3536;">YOU ARE MASQUERADING AS <%= current_user.username %>!</h4>
  <p>If you are <strong>masquerading as another user</strong>, you will be restricted from administrative functions, and functions reserved to instructors. Please click the "stop masquerading as" link at the top right of the screen if this is the case</p>
<% end %>

<hr/>

<h4>For Students</h4>
<ul>
  <li>The registrar's office may not have you listed as a student for this course. </li>
  <li>You may have just added this class through the registrar's office. In this case, wait 24 hours and try again. If the problem persists, <%= link_to "contact", new_report_problem_path(path: "no_access_to_course") %> the library reserves desk.</li>
  <li>If you are auditing the course you may not be listed by the registar's office as enrolled.  <%= link_to "Contact", new_report_problem_path(path: "no_access_to_course") %> the library staff on the right be added to the course.</li>
  <li>The course you are accessing is from a previous semester and is no longer available.</li>
</ul>

<h4>For Instructors</h4>
<ul>
  <li>The registrar's office may not have you listed as an instructor for this course</li>
  <li>You are a teaching assistant or course aide and the registrar's office does not have you listed as an instructor. </li>
</ul>

<hr/>
<p>If you think this may be a mistake on the part of the registrar's office, please contact them. Otherwise, contact the library reserves staff for further assistance.</p>
</div>
<div class="alert alert-info three columns">
  <h4>Contact Information</h4>
  <br/>
  <%= render partial: '/errors/contact_info' %>
  <hr/>
  <%= render partial: '/errors/video_contact_info' %>
