<ul class="nav nav-tabs nav-stacked nav-pills">
  <li class="<%= tab_css_class('documentation.instructor.access', @translation) %>"><a href="<%= documentation_path('instructor-access') %>"><%= t('documentation.instructor.access_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.why', @translation) %>"><a href="<%= documentation_path('instructor-why') %>"><%= t('documentation.instructor.why_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.course', @translation) %>"><a href="<%= documentation_path('instructor-course') %>"><%= t('documentation.instructor.course_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.sakai', @translation) %>"><a href="<%= documentation_path('instructor-sakai') %>"><%= t('documentation.instructor.sakai_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.copyright', @translation) %>"><a href="<%= documentation_path('instructor-copyright') %>"><%= t('documentation.instructor.copyright_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.book', @translation) %>"><a href="<%= documentation_path('instructor-book') %>"><%= t('documentation.instructor.book_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.book_chapter', @translation) %>"><a href="<%= documentation_path('instructor-book_chapter') %>"><%= t('documentation.instructor.book_chapter_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.article', @translation) %>"><a href="<%= documentation_path('instructor-article') %>"><%= t('documentation.instructor.article_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.video', @translation) %>"><a href="<%= documentation_path('instructor-video') %>"><%= t('documentation.instructor.video_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.audio', @translation) %>"><a href="<%= documentation_path('instructor-audio') %>"><%= t('documentation.instructor.audio_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.rollover', @translation) %>"><a href="<%= documentation_path('instructor-rollover') %>"><%= t('documentation.instructor.rollover_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.other', @translation) %>"><a href="<%= documentation_path('instructor-other') %>"><%= t('documentation.instructor.other_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.personal_copy', @translation) %>"><a href="<%= documentation_path('instructor-personal_copy') %>"><%= t('documentation.instructor.personal_copy_title')%></a></li>
  <li class="<%= tab_css_class('documentation.instructor.video_faq', @translation) %>"><a href="<%= documentation_path('instructor-video_faq') %>"><%= t('documentation.instructor.video_faq_title')%></a></li>
  <li><a href="<%= documentation_path('troubleshooting') %>" target="_blank">Troubleshoot video issues</a></li>
</ul>
