<ul class="nav nav-tabs nav-stacked nav-pills">
  <li class="<%= tab_css_class('documentation.student.access', @translation) %>"><a href="<%= documentation_path('student-access') %>"><%= t('documentation.student.access_title') %></a></li>
  <li class="<%= tab_css_class('documentation.student.course', @translation) %>"><a href="<%= documentation_path('student-course') %>"><%= t('documentation.student.course_title') %></a></li>
  <li class="<%= tab_css_class('documentation.student.physical_reserves', @translation) %>"><a href="<%= documentation_path('student-physical_reserves') %>"><%= t('documentation.student.physical_reserves_title') %></a></li>
  <li class="<%= tab_css_class('documentation.student.software', @translation) %>"><a href="<%= documentation_path('student-software') %>"><%= t('documentation.student.software_title') %></a></li>
  <li class="<%= tab_css_class('documentation.student.troubleshooting', @translation) %>"><a href="<%= documentation_path('troubleshooting') %>" target="_blank">Troubleshoot video issues</a></li>
    <li class="<%= tab_css_class('documentation.student.troubleshooting', @translation) %>"><a href="<%= documentation_path('troubleshooting-audio') %>" target="_blank">Troubleshoot audio issues</a></li>
</ul>
