<% content_for(:content_title) do %>
  <h1>What is Library Reserves</h1>
<% end %>
<%
breadcrumb(['Help'])
%>

<p>
  <%= t('documentation.what_is_reserves') %>
</p>

<p class="text-center">

  <%= link_to 'I am a Student', documentation_path('student-access'), class: 'btn btn-primary' %>
  <%= link_to 'I am an Instructor', documentation_path('instructor-access'), class: 'btn btn-primary' %>
</p>

<!-- ul class="nav nav-tabs">
    <li class="active"><a href="#request" data-toggle="tab">Place a reserves request</a></li>
    <li><a href="#view" data-toggle="tab">View my course reserves</a></li>
    <li><a href="#sakai" data-toggle="tab">View reserves in Sakai</a></li>
    <li><a href="#troubleshooting" data-toggle="tab">Troubleshoot Video Issues</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="request">
        <%= render :partial => 'place_request' %>
    </div>
    <div class="tab-pane" id="view">
        <%= render :partial => 'view_reserves' %>
      </div>
      <div class="tab-pane" id="sakai">
        <%= render :partial => 'sakai' %>
      </div>
      <div class="tab-pane" id="troubleshooting">
        <%= render :partial => 'troubleshooting' %>
      </div>
</div -->

