<% content_for(:content_title) do %>
  <div class="page-header">
    <h1>Fair Use for <%= @request.reserve_title %> </h1>
  </div>
<% end %>


<%= simple_form_for @request, :url => fair_use_path(@request.reserve_id), :method=>'put' do | f | %>

  <% @request.checklist_questions.each_pair do | category, questions | %>
    <div class="twelve columns">
      <h3><%= h category %></h3>
      <div class="six columns">
        <h5>Trending Toward Fair Use</h5>

        <% questions[:favoring].each do | question | %>
          <label class="checkbox">
          <%= check_box_tag "admin_fair_use_form[checklist][#{question.id}]", true, @request.question_checked?(question) %> <%= h question.question %>
          </label>
        <% end %>
      </div>
      <div class="six columns">
        <h5>Trending Away From Fair Use</h5>
        <% questions[:notfavoring].each do | question | %>
          <label class="checkbox">
          <%= check_box_tag "admin_fair_use_form[checklist][#{question.id}]", true, @request.question_checked?(question) %> <%= h question.question %>
          </label>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="twelve columns">
    <hr>
    <% if @request.previous_fair_uses.size > 0 %>
      <% @request.previous_fair_uses.each do | fair_use | %>
        <% if fair_use.comments.present? %>
          <h3>Comments for <%= fair_use.semester.full_name %> </h3>
          <p>
            <%= h fair_use.comments %>
          </p>
        <% end %>
      <% end %>
    <% end %>

    <h3>Comments for <%= @request.term_title %></h3>

    <%= f.input_field :comments, as: "text", placeholder: "Add any notes or distinctions to track for fair use. ", style: "width: 50%; height: 150px; " %>

    <h3>Approval</h3>

    <% if @request.state_transition_available?('approved', 'approve') %>
      <label class="radio">
        <input type="radio" name="admin_fair_use_form[event]"  value="approve" <%= @request.is_state?('approved') ? 'checked="true"' : '' %>>
        <span class="label label-success">Approve</span> - Request is Fair Use.
      </label>
    <% end %>
    <% if @request.state_transition_available?('sipx_cleared', 'clear_with_sipx') %>
      <label class="radio">
        <input type="radio" name="admin_fair_use_form[event]"  value="clear_with_sipx" <%= @request.is_state?('sipx_cleared') ? 'checked="true"' : '' %>>
        <span class="label label-info">Leganto</span> - Choose this if we paid Leganto for the rights to this content.
      </label>
    <% end %>
    <% if @request.state_transition_available?('copy_rights_cleared', 'clear_with_copy_rights') %>
      <label class="radio">
        <input type="radio" name="admin_fair_use_form[event]"  value="clear_with_copy_rights" <%= @request.is_state?('copy_rights_cleared') ? 'checked="true"' : '' %>>
        <span class="label label-info">Copy Rights Cleared</span> - Choose this if we paid for the rights to use this work from copy rights clearing house or the rights holder.
      </label>
    <% end %>
    <% if @request.state_transition_available?('denied', 'deny') %>
      <label class="radio">
        <input type="radio" name="admin_fair_use_form[event]" value="deny" <%= @request.is_state?('denied') ? 'checked="true"' : '' %>>
        <span class="label label-important">Reject</span> - Request is not Fair Use
      </label>
    <% end %>
    <% if @request.state_transition_available?('temporary_approval', 'temporary_approval') %>
      <label class="radio">
        <input type="radio" name="admin_fair_use_form[event]" value="temporary_approval" <%= @request.is_state?('temporary_approval') ? 'checked="true"' : '' %>>
        <span class="label label-warning">Temporarily Approve</span>
      </label>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, "Save", :class => 'btn-primary' %>
      <%= link_to 'Cancel', request_path(@request.id) %>
    </div>
  </div>
<% end %>


