<% content_for(:content_title) do %>
  <div class="page-header">
    <h1>Fair Use for <%= @request.reserve_title %> </h1>
  </div>
<% end %>


<%= simple_form_for @request, :url => fair_use_path(@request.reserve_id), :method=>'put' do | f | %>
  <div class="twelve columns">
    <h3>Checklist</h3>
  </div>
  <% current_category = false %>
  <% @request.checklist_questions.each do | question | %>
    <% if current_category != question.category %>
      <% if current_category != false %>
        </div>
      <% end %>
      <div class="six columns">
        <% current_category = question.category %>
        <h5><%= h question.category %></h5>
    <% end %>
    <label class="checkbox">
      <%= check_box_tag "admin_fair_use_form[checklist][#{question.id}]", true, @request.question_checked?(question) %> <%= h question.question %>
    </label>
  <% end %>
  </div>

  <div class="twelve columns">

    <hr>
    <% if @request.previous_fair_uses.size > 0 %>
      <% @request.previous_fair_uses.each do | fair_use | %>
        <h3>Comments for <%= fair_use.semester.full_name %> </h3>
        <p>
          <%= h fair_use.comments %>
        </p>
      <% end %>
    <% end %>

    <h3>Comments for <%= @request.term_title %></h3>

    <%= f.input_field :comments, as: "text", placeholder: "Add any notes or distinctions to track for fair use. ", style: "width: 50%; height: 150px; " %>

    <h3>Approval</h3>

    <% if @request.state_transition_available?('approved', 'approve') %>
      <label class="radio">
        <input type="radio" name="admin_fair_use_form[event]"  value="approve" <%= @request.is_state?('approved') ? 'checked="true"' : '' %>>
        <span class="label label-success">Approve</span> - Request is Fair Use.
      </label>
    <% end %>
      <label class="radio">
        <input type="radio" name="admin_fair_use_form[event]"  value="approve" >
        <span class="label label-info">Licensed</span>
      </label>
    <% if @request.state_transition_available?('denied', 'deny') %>
      <label class="radio">
        <input type="radio" name="admin_fair_use_form[event]" value="deny" <%= @request.is_state?('denied') ? 'checked="true"' : '' %>>
        <span class="label label-important">Reject</span> - Request is not Fair Use
      </label>
    <% end %>
    <% if @request.state_transition_available?('temporary_approval', 'temporary_approval') %>
      <label class="radio">
        <input type="radio" name="admin_fair_use_form[event]" value="temporary_approval" <%= @request.is_state?('temporary_approval') ? 'checked="true"' : '' %>>
        <span class="label label-warning">Temporarily Approve</span>
      </label>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, "Save", :class => 'btn-primary' %>
      <%= link_to 'Cancel', request_path(@request.id) %>
    </div>
  </div>
<% end %>


