<% if instructed_courses.size > 0 %>
<table class="table table-striped table-hover instructed_courses">
  <thead>
    <tr>
      <th>Course</th>
      <th>Semester</th>
      <th>Cross Listings</th>
      <th>Sections</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% instructed_courses.each do | course | %>
    <tr id="course_row_<%= course.id %>">
      <td>
        <a href="<%= course_reserves_path(course.id) %>"><%= h course.title %></a>
      </td>
      <td>
        <%= h course.semester.full_name %>
      </td>
      <td>
        <% course.crosslisted_course_ids.each do | cid | %>
          <%= raw cid %><br>
        <% end %>
      </td>
      <td><%= h course.section_numbers.join(", ") %></td>
      <td>
        <% if CreateNewReservesPolicy.new(course).can_create_new_reserves? %>
          <%= render partial: "/courses/instructor_new_reserve_menu", locals: { course: course, highlight: false } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
 <p class="alert">
    You do not have any instructed courses for this semester.
    <br>
    It could just be that the courses have not been published to the reserve tool yet.  Please check back later.
  </p>
<% end %>
