<% content_for(:content_title) do %>
  <div class="page-header"><h1>Find Courses</h1></div>
<% end %>
<% content_for(:content_title_links) do %>

<% end %>

<% breadcrumb([ 'Find Courses ']) %>

<form class="well form-search">

  <label>
    Instructor NetID
    <input type="text" name="netid" value="<%= params[:netid] %>" />
  </label>

  Or
  <label>
    Course Title
    <input type="text" name="course_title" value="<%= params[:course_title] %>" />
  </label>

  <!-- <label>Semester: <select name="semster_id" class="search_select"></select></label> -->

  <button type="submit" class="btn">Continue</button>


</form>

<% if @courses %>

  <% if @courses.size == 0 %>
    <div class="alert">There are no courses for your search.</div>
  <% else %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Course</th>
          <th>Course Codes</th>
          <th>Instructor</th>
          <th>Request Material</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do | course | %>
        <tr>
          <td>
            <a><%= h course['title'] %></a>
          </td>
          <td>
          </td>
          <td><%= h course['instructor'] %></td>
          <td>
            <%= link_to 'New Request', '#', class: "btn" %>
            <%= link_to 'Copy From Course', '#', class: "btn" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
<% end %>
