<div class="container">
  <div class="row">
    <div class="span9">
      <h3>Reserve Items</h3>
      <div class="span12">
        <table class="table table-bordered admin_data_table">
          <thead>
            <th>System ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Date Created</th>
          </thead>
          <tbody>
            <% for item in @items %>
              <tr>
                <td>
                  <%= link_to item.id, edit_admin_item_path(item) %>
                </td>
                <td>
                  <%= item.name %>
                </td>
                <td>
                  <%= item.description %>
                </td>
                <td>
                  <%= item.item_type.name %>
                </td>
                <td>
                  <%= item.created_at %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
