<div class="tab-content">	
	<% if @tech_update_return %>
	<div id="lA" class="tab-pane">
	<% else %>
	<div id="lA" class="tab-pane active">
	<% end %>
		<legend>Basic Information</legend>
		<% if flash[:notice] && !@tech_update_return %>
			<div id="notice_area" class="alert alert-success">
				<%= flash[:notice] %> 
			</div>
		<% end %>
		<%= v.error_notification %>
		<%= v.input :name, :input_html => { :id => "video_name", :class => "span6" }%>
		<%= v.input :description, :input_html => { :id => "video_description", :class => "span6", :style => "height: 100px;" } %>
		<%= v.input :item_type_id, :as => :hidden %>
		<hr/>
		<%= v.simple_fields_for :basic_metadata, :wrapper => :inline_fields do |basic| %>
			<%= basic.error_notification :message => "Make sure that a type is selected and value filled in" %>
		<div style="margin-bottom: 10px;" class="basic_info_element">
			<%= basic.input :metadata_attribute_id, :as => 'select', :collection => @basic_attributes, :label => false, :include_blank => 'Please Select', :input_html => { :class => 'basic_name_value', :style => 'margin-left: 30px' } %>
			<%= basic.input :value, :label => false, :input_html => { :class => 'span4 basic_data_value', :style => 'margin-left: 15px' } %>
			<a href="#" class="delete_basic_meta" ></a>
			<%= basic.link_to_remove do %>
				<i class="icon-remove-sign"></i>
			<% end %>
	    </div>
		<% end %>
		<%= v.link_to_add "Add Basic Information", :basic_metadata, :class => 'btn btn-info', :style => 'float: right;' %>
	</div>
	<% if @tech_update_return %>
	<div id="lB" class="tab-pane active">
	<% else %>
	<div id="lB" class="tab-pane">
	<% end %>
		<legend>Technical Information</legend>
		<%= v.simple_fields_for :technical_metadata, :wrapper => :inline_fields do |tech| %>
			<%= tech.error_notification :message => "Make sure that a type is selected and value filled in" %>
		<div style="margin-bottom: 10px;" class="tech_info_element">
			<%= tech.input :metadata_attribute_id, :as => 'select', :collection => @technical_attributes, :label => false, :include_blank => 'Please Select', :input_html => { :class => 'tech_name_value', :style => 'margin-left: 30px' } %>
			<%= tech.input :value, :label => false, :input_html => { :class => 'span4 tech_data_value', :style => 'margin-left: 15px' } %>
			<%= tech.link_to_remove do %>
				<i class="icon-remove-sign"></i>
			<% end %>
	    </div>
		<% end %>
		<%= v.link_to_add "Add Technical Information", :technical_metadata, :class => 'btn btn-info', :style => 'float: right;' %>
	</div>
</div>
<div class="form-actions">
	<%= v.button :submit, :value=> 'Save', :class => 'btn-primary'%>
</div>