
<div class="tabbable tabs-top">
  <ul class="nav nav-tabs">
    <li class="<%= filter.new_css_class %>">
      <% if filter.awaiting? || filter.new? %>
        <a class="tab" data-toggle="tab" filter="new" href="#1">New</a>
      <% else %>
        <a class="tab" filter="new" href="<%= requests_path() %>">New</a>
      <% end %>
    </li>
    <li class="<%= filter.awaiting_css_class %>">
      <% if filter.awaiting? || filter.new? %>
        <a class="tab" data-toggle="tab" filter="awaiting" href="#2">Awaiting Action</a>
      <% else %>
        <a class="tab" filter="awaiting" href="<%= requests_path(:filter => 'awaiting') %>">Awaiting Action</a>
      <% end %>
    </li>
    <li class="<%= filter.complete_css_class %>">
      <a class="tab" filter="complete" data-toggle="link_tab" href="<%= requests_path(:filter => 'complete') %>">Completed</a>
    </li>
    <li class="<%= filter.all_css_class %>">
      <a class="tab" data-toggle="link_tab" filter="all" href="<%= requests_path(:filter => 'all') %>">All</a>
    </li>
  </ul>
</div>
