    <div class="btn-group">
      <button class="btn btn-mini <%= !object.data_complete? ? 'btn-warning' : 'btn-success' %>">Edit</button>
      <button class="btn btn-mini dropdown-toggle <%= !object.data_complete? ? 'btn-warning' : 'btn-success' %>" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to raw("<i class=\"#{object.needs_meta_data? ? '' : 'icon-ok'}\"></i> Meta Data"), edit_meta_data_path(object.id) %> </li>
        <%  if object.can_have_external_resource? %>
          <li><%= link_to raw("<i class=\"#{object.needs_external_source? ? '' : 'icon-ok'}\"></i> External Resource"), edit_resource_path(object.id) %></li>
        <% end %>

        <% if object.should_have_fair_use? %>
          <li><%= link_to raw("<i class=\"#{object.needs_fair_use? ? '' : 'icon-ok'}\"></i> Fair Use"), edit_resource_path(object.id) %></li>
        <% end %>
      </ul>
    </div>
