
<div class="tabbable tabs-top">
  <ul class="nav nav-tabs">
    <li class="<%= filter.css_class('new') %>">
      <% if !filter.complete? %>
        <a class="tab" data-toggle="tab" filter="new" href="#1">New</a>
      <% else %>
        <a class="tab" filter="new" href="<%= requests_path() %>">New</a>
      <% end %>
    </li>
    <li class="dropdown <%= filter.inprocess_css_class %>">
      <% if !filter.complete? %>
        <a class="dropdown-toggle" data-toggle="dropdown" filter="inprocess" href="#2">In process <b class="caret"></b></a>
      <% else %>
        <a class="dropdown-toggle" data-toggle="dropdown" filter="inprocess" href="<%= requests_path(:filter => 'inprocess') %>">In process <b class="caret"></b></a>
      <% end %>
      <ul class="dropdown-menu">
        <li class="<%= filter.css_class('inprocess') %>">
          <% if !filter.complete? %>
            <a class="tab" data-toggle="tab" filter="inprocess">All</a>
          <% else %>
            <a class="tab" filter="inprocess" href="<%= requests_path(:filter => 'inprocess') %>">All</a>
          <% end %>
        </li>
        <li class="<%= filter.css_class('meta_data') %>">
          <% if !filter.complete? %>
            <a class="tab" data-toggle="tab" filter="meta_data">Awaiting Meta Data</a>
          <% else %>
            <a class="tab" filter="inprocess" href="<%= requests_path(:filter => 'meta_data') %>">Awaiting Meta Data</a>
          <% end %>
        </li>
        <li class="<%= filter.css_class('resource') %>">
          <% if !filter.complete? %>
            <a class="tab" data-toggle="tab" filter="resource">Awaiting Resource</a>
          <% else %>
            <a class="tab" filter="inprocess" href="<%= requests_path(:filter => 'resource') %>">Awaiting Resource</a>
          <% end %>
        </li>
        <li class="<%= filter.css_class('on_order') %>">
          <% if !filter.complete? %>
            <a class="tab"  data-toggle="tab" filter="on_order">Awaiting Purchasing</a>
          <% else %>
            <a class="tab" filter="inprocess" href="<%= requests_path(:filter => 'on_order') %>">Awaiting Purchasing</a>
          <% end %>
        </li>
        <li class="<%= filter.css_class('fair_use') %>">
          <% if !filter.complete? %>
            <a class="tab" data-toggle="tab" filter="fair_use">Awaiting Fair Use</a>
          <% else %>
            <a class="tab" filter="inprocess" href="<%= requests_path(:filter => 'fair_use') %>">Awaiting Fair Use</a>
          <% end %>
        </li>
      </ul>
    </li>
    <li class="<%= filter.css_class('available') %>">
      <a class="tab" filter="complete" data-toggle="link_tab" href="<%= requests_path(:filter => 'available') %>">Completed</a>
    </li>
  </ul>
</div>
