
<%= simple_form_for @request, :url => resource_path(@request.id), :method=>'put' do | f | %>
  <%= f.input :playlist_type, as: :radio_buttons, collection: [:audio, :video] %>

  <h5> Playlist </h5>

  <ul id="playlist_fields">

    <% @request.playlist_rows.each do | row | %>
      <% if row['file'] %>
        <%= render partial: 'media_playlist_file_row', locals: { row_title: row['title'], file: row['file']} %>
      <% else %>
        <%= render partial: 'media_playlist_category_row', locals: { row_title: row['title']} %>
      <% end %>
    <% end %>
  </ul>

  <div>
    <button id="new_row_button" type="button">New Row</button>
    <button id="new_category_button" type="button">New Category</button>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Save", :class => 'btn btn-primary' %>

    <%= link_to 'Cancel', request_path(@request.id) %>
  </div>

<% end %>

<ul>
  <%= render partial: 'media_playlist_file_row' %>
  <%= render partial: 'media_playlist_category_row' %>
</ul>

<script type="text/javascript">
  $('#new_row_button').click(function () {
    $("#add_row").clone(false).removeAttr("id").removeClass('demo_row').appendTo($("#playlist_fields"));
  });
  $('#new_category_button').click(function () {
    $('#add_category_row').clone(false).removeAttr("id").removeClass('demo_row').appendTo($("#playlist_fields"));
  });
  $('#playlist_fields').on('click', '.delete_row', function () {
    if (confirm("Are you sure you wish to remove this row from the playlist?")) {
      $(this).parents('.playlist_row').remove();
    }
  });
  $( "#playlist_fields" ).sortable({
      revert: true
  });
</script>

<style>
  .demo_row { display: none; }
</style>
