<h3>Create Media Playlist</h3>


<%= simple_form_for @request, :url => resource_path(@request.id), :method=>'put' do | f | %>
  <%= f.input :playlist_type, as: :radio_buttons, collection: [:audio, :video] %>

  <h5> Playlist </h5>
  <p>Click and Drag to reorder </p>

  <ul id="playlist_fields">

    <% @request.playlist_rows.each do | row | %>
      <% if row['file'] %>
        <%= render partial: 'media_playlist_file_row', locals: { row_title: row['title'], file: row['file']} %>
      <% else %>
        <%= render partial: 'media_playlist_category_row', locals: { row_title: row['title']} %>
      <% end %>
    <% end %>
  </ul>

  <div>
    <button id="new_row_button" type="button">New Row</button>
    <button id="new_category_button" type="button">New Category</button>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Save", :class => 'btn btn-primary' %>

    <%= link_to 'Cancel', request_path(@request.id) %>
  </div>

<% end %>

<ul id="playlist_demo_rows">
  <%= render partial: 'media_playlist_file_row' %>
  <%= render partial: 'media_playlist_category_row' %>
</ul>


<style>
</style>
