<% content_for(:content_title) do %>
  <h1>Set Reserve Resources </h1>
<% end %>


<div class="row">
 <div class="span6">
    <%= simple_form_for @request, :url => resource_path(@request.id), :method=>'put' do | f | %>
      <% if @request.show_url_form? %>
        <%= f.input :url, :label => (@request.show_video_form? ? 'Streaming Server Filename' : 'Link to external site') %>
      <% end %>
      <% if @request.show_file_upload_form? %>
        <p>Current File: <%= @request.pdf_file_name %></p>
        <%= f.input :pdf, :label => 'Upload a pdf', :as => :file %>

      <% end %>

      <div class="form-actions">
        <%= f.button :submit, "Save", :class => 'btn btn-primary' %>

        <%= link_to 'Cancel', requests_path(:filter=>@request.workflow_state), class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
