<% content_for(:content_title) do %>
  <%= render partial: '/requests/request_header', locals: { reserve: @request.reserve } %>
<% end %>

<h3>Electronic Resource</h3>

<div class="row">
 <div class="span6">
    <%= simple_form_for @request, :url => resource_path(@request.id), :method=>'put' do | f | %>
      <% if @request.show_video_form? %>
          <%= render partial: 'streaming_form', locals: { f: f } %>
      <% end %>
      <% if @request.show_url_form? %>
          <%= render partial: 'url_form', locals: { f: f } %>
      <% end %>
      <% if @request.show_file_upload_form? %>
          <%= render partial: 'file_form', locals: { f: f } %>
      <% end %>

      <div class="form-actions">
        <%= f.button :submit, "Save", :class => 'btn btn-primary' %>

        <%= link_to 'Cancel', request_path(@request.id) %>
      </div>
    <% end %>
  </div>
</div>
