<% content_for(:content_title) do %>
  <h1>Set Reserve Resources </h1>
<% end %>


<div class="row">
 <div class="span6">
    <%= simple_form_for @request, :url => resource_path(@request.id), :method=>'put' do | f | %>
      <% if @request.show_url_form? %>
        <% if @request.show_video_form? %>
          <%= f.input :url, :label => (@request.steaming_server_full_url? ? 'Video URL' : 'Streaming Server Filename') %>
          <a href="#" class="btn toggle_video_form" data-state="<%= (@request.steaming_server_full_url? ? 'streaming_server' : 'internet') %>"><%= (@request.steaming_server_full_url? ? 'Video on our streaming server' :  'Video is on the internet') %></a>
        <% else %>
          <%= f.input :url, :label => 'Link to external site' %>
        <% end %>
      <% end %>
      <% if @request.show_file_upload_form? %>
        <p>Current File: <%= @request.pdf_file_name %></p>
        <%= f.input :pdf, :label => 'Upload a pdf', :as => :file %>

      <% end %>

      <div class="form-actions">
        <%= f.button :submit, "Save", :class => 'btn btn-primary' %>

        <%= link_to 'Cancel', requests_path(:filter=>@request.workflow_state), class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
