<% content_for(:content_title) do %>
  <div class="page-header"><h1>Course Reserves</h1></div>
<% end %>
<% content_for(:content_title_links) do %>
  <a class="btn btn-info"><i class="icon-question-sign"></i> Help</a>
<% end %>

<% breadcrumb([ 'Courses ']) %>

<form class="well form-search">
  <label>Semester: <select name="semster_id" class="search_select"><%= options_from_collection_for_select(@reserves.all_semesters, :id, :name, params[:semster_id]) %></select></label>
</form>
<script type="text/javascript">
  $('.search_select').change(function () {
    $(this).parents('form').submit();
  });
</script>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Instructor</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reserves.courses_with_reserves.each do | course | %>
    <tr>
      <td>
        <a href="<%= prof_listing_path(course.id) %>"><%= h course.title %></a>
        <%= render :partial => 'cross_listing', :locals => { object: course } %>
      </td>
      <td><%= h course.instructor %></td>
      <td><%= link_to 'Request Material', new_prof_listing_request_reserve_path(course.id), class: 'btn btn-primary' %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h2>Courses Without Reserves</h2>

 <table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Instructor</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reserves.courses_without_reserves.each do | course | %>
      <tr>
        <td>
          <%= h course.title %>
          <%= render :partial => 'cross_listing', :locals => { object: course } %>
        </td>
        <td><%= h course.instructor %></td>
        <td><%= link_to 'Request Material', '#', class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
