<% content_for(:content_title) do %>
  <h1><%= h @course.title %> <small><%= h @course.instructor %></small></h1>
<% end %>
<% content_for(:content_title_links) do %>
  <a href="<%= new_prof_listing_request_reserve_path(@course.id) %>" class="btn btn-primary">Request Material</a>
<% end %>

<div class="table_filter">
  <label>Filter by Topic: <select class="topic_filter"><option></option><%= options_for_select(@course.all_tags) %></select></label>
  <label>Filter by Status: <select class="status_filter"><option value=""></option><option value="New">New</option><option value="Awaiting">Awaiting Action</option><option value="Complete">Complete</option></select></label>
</div>

<table class="table table-striped find-resources instructor_datatable">
  <thead>
    <tr>
      <th>Reserve</th>
      <th></th>
      <th class="topic_row">Topics</th>
      <th>Status</th>
      <th>Copy</th>
    </tr>
  </thead>
  <tbody>
    <% @course.reserves.each do | reserve | %>
      <%= render :partial => '/external/request/lists/instructor_list_row', :locals => { object: reserve } %>
    <% end %>
  </tbody>
</table>

<div class="modal hide" id="topic_form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Topic</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset id="topic_list">
        <legend>Topics</legend>
        <label class="checkbox"><input type="checkbox"> Topic 1</label>
        <label class="checkbox"><input type="checkbox"> Topic 2</label>
      </fieldset>

      <fieldset>
        <legend>New Topic</legend>

        <label><input type="text" id="add_topic_input"> <a href="#" class="btn" id="add_topic_button">Add</a></label>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div id="copy-overlay">
  <form action="<%= prof_listing_copy_reserves_path(@course.id) %>" method="post">
    <h4>Copy Material to a New Course</h4>
    <ul id="">
    </ul>
    <br />
    <select id="copy_to_select">
      <option>Copy to Course</option>
      <optgroup label="Current Semester">
        <option>Course 1</option>
        <option>Course 2</option>
      </optgroup>
      <optgroup label="Next Semester">
        <option>Course 3</option>
        <option>Course 4</option>
      </optgroup>
    </select>
    <button type="submit" class="copy btn btn-primary">Copy Material</button>
    <button class="cancel btn">Cancel</button>
  </form>
</div>

<style>
  #copy-overlay {
    display: none;
    padding: 25px 25px 5px 25px;
    position: fixed;
    right: 10px;
    bottom: 0px;
    background-color: white;
    border: 4px black solid;
  }

</style>

<script type="text/javascript">
  $(document).ready(function () {

//    txt = '<label>Filter by Topic: <select id="search_filter"><option></option><%= escape_javascript(options_for_select(@course.all_tags)) %></select></label><label>Filter by Status: <select id="status_filter"><option value=""></option><option value="New">New</option><option value="Awaiting">Awaiting Action</option><option value="Complete">Complete</option></select></label>';
//    $('.dataTables_filter').append(txt);





  });

</script>
