<% if current_user.present? %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="/">Reserves</a>
      <ul class="nav">
        <% if user_course_listing.show_enrolled_courses? %>
          <li class="dropdown">
          <%= link_to raw("Courses <b class=\"caret\"></b>"), courses_path, "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu">
            <% user_course_listing.enrolled_courses.each do | course | %>
              <li><%= link_to h(course.title), course_reserves_path(course.id) %></li>
            <% end %>
          </ul>
          </li>
        <% end %>
        <% if user_course_listing.show_instructed_courses? %>
          <li class="dropdown">
          <%= link_to raw("Instructed Courses <b class=\"caret\"></b>"), courses_path, "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu">
            <% user_course_listing.current_instructed_courses.each do | course | %>
              <li><%= link_to h(course.full_title), course_reserves_path(course.id) %></li>
            <% end %>
            <% user_course_listing.upcoming_instructed_courses.each do | course | %>
              <li><%= link_to h(course.full_title), course_reserves_path(course.id) %></li>
            <% end %>
          </ul>
          </li>
        <% end %>
        <% if permission.current_user_is_administrator? %>
          <li><%= link_to "Requests", requests_path() %></li>
          <li><%= link_to "Courses", courses_path() %></li>
          <li><%= link_to "Semesters", semesters_path() %></li>
          <li><%= link_to "Admin Users", users_path %></li>
          <li><%= link_to "Masquerade", new_masquerades_path %></li>
        <% end %>
      </ul>
      <ul class="nav pull-right">
        <% if masquerade.masquerading? %>
          <li><%= link_to raw("Stop Masquerading as #{current_user.name}"), cancel_masquerades_path, class: "masquerade_text" %></li>
        <% elsif current_user.present? %>
        <% end %>
        <li class="divider-vertical"></li>
        <li><a href="/documentation" target="_blank" class="help">Help</a></li>
        <li class="divider-vertical"></li>
        <li><a href="<%= new_report_problem_path(:path => request.path) %>" target="_blank" class="help">Contact Us</a></li>
                <li class="divider-vertical"></li>
        <% if !permission.current_user_is_administrator? %>
          <li><p>You are logged in as <%= current_user.display_name %> </p></li>
        <% end %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, title: "Sign Out" do %>
          <%= image_tag 'logout.png', size: '20' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
