<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/">Reserves</a>
    <ul class="nav">
      <% if user_course_listing.show_enrolled_courses? %>
        <li class="dropdown">
          <%= link_to raw("Courses <b class=\"caret\"></b>"), courses_path, "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu">
            <% user_course_listing.enrolled_courses.each do | course | %>
              <li><%= link_to h(course.title), course_reserves_path(course.id) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if user_course_listing.show_instructed_courses? %>
        <li class="dropdown">
          <%= link_to raw("Instructed Courses <b class=\"caret\"></b>"), courses_path, "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu">
            <% user_course_listing.current_instructed_courses.each do | course | %>
              <li><%= link_to h(course.full_title), course_reserves_path(course.id) %></li>
            <% end %>
            <% user_course_listing.upcoming_instructed_courses.each do | course | %>
              <li><%= link_to h(course.full_title), course_reserves_path(course.id) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if permission.current_user_is_administrator? %>
        <li><%= link_to "Requests", requests_path() %></li>
        <li>
          <% #link_to "Courses", admin_courses_path() %>
        </li>
        <li><%= link_to "Semesters", semesters_path() %></li>
        <li><%= link_to "Masquerade", new_masquerades_path %></li>
      <% end %>
    </ul>

    <div class="pull-right">
      <% if masquerade.masquerading? %>
        <p class="navbar-text"><%= link_to raw("Stop Masquerading as #{current_user.name}"), cancel_masquerades_path, class: "masquerade_text" %></p>
      <% elsif current_user.present? %>
        <p class="navbar-text">
          <%= current_user.name %>
          <%= link_to("Log Out", destroy_user_session_path())%>
        </p>
      <% end %>
    </div>
  </div>
</div>
