<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hesburgh Library Reserves</title>
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />
<<<<<<< HEAD
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
=======
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="http://library.nd.edu/icons/favicon-152.png">
>>>>>>> master
    <meta name="viewport" content="width=device-width" />

    <%= stylesheet_link_tag    "hesburgh_assets/admin/1.0/index.css", :media => "all" %>

    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "hesburgh_assets/admin/1.0/index.js" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44375213-1', 'nd.edu');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div class="frame" id="frame">
      <div class="row header">
        <div class="twelve columns">
          <h2>Library<em>Reserves</em></h2>
        </div>
      </div>
      <div class="row menu">
        <div class="twelve columns">
          <%= user_top_nav %>
        </div>
      </div>

      <div class="row content">
        <div class="frame">
          <div class="row breadcrumb hide-on-phones">
            <%
              if !content_for?(:breadcrumb)
                breadcrumb()
              end
            %>
            <div class="twelve columns">
              <p><%= content_for(:breadcrumb) %></p>
            </div>
          </div>
          <% if content_for?(:left_column) %>
            <div class="three columns">
              <%= content_for(:left_column) %>
            </div>
          <% end %>
          <%= display_notices %>
          <%
          content_width = 12
          if content_for?(:left_column)
            content_width -= 3
          end
          if content_for?(:right_column)
            content_width -= 4
          end
          if content_for?(:right_column_wide)
            content_width -= 5
          end
          %>
          <div class="<%= number_to_word(content_width) %> columns">
            <div id="pg-title">
              <% if content_for?(:content_title_links) %>
                <div class="pull-right">
                  <%= content_for(:content_title_links) %>
                </div>
              <% end %>
              <%= content_for(:content_title) %>
            </div>

            <%= yield %>

          </div>
          <% if content_for?(:right_column) %>
            <div class="four columns">
              <%= content_for(:right_column) %>
            </div>
          <% end %>
          <% if content_for?(:right_column_wide) %>
            <div class="five columns">
              <%= content_for(:right_column_wide) %>
            </div>
          <% end %>
        </div>

      </div>

      <%= include_ssi("/local_ssi/responsive/footer.shtml") %>

    </div>
  </body>
</html>
