<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= "#{page_title}".html_safe + " // " if page_title.present? %>Hesburgh Libraries // University of Notre Dame</title>
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />
    <link rel="shortcut icon" href="http://www.library.nd.edu/favicon.ico" />
    <%= stylesheet_link_tag    "external" %>
    <%= include_ssi("css") %>
    <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
    <%= javascript_include_tag "external" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper" class="outter">
      <%= include_ssi("skip-links") %>
      <div id="header" class="outter">
        <%= include_ssi("header") %>
      </div> <!-- End #header -->
      <div id="main-menu" class="outter">
        <%= include_ssi("main-menu") %>
      </div><!-- End main-menu -->
      <div id="content_wrapper" class="outter">
        <div id="content" class="container">
          <%= render_breadcrumb %>
          <div id="single-col" class="column span-24 last">
          <%= yield %>
        </div>
        </div> <!-- end content-col -->
      </div>
      <%= include_ssi("footer") %>
    </div><!-- End #wrapper -->
  </body>
    <%= include_ssi("js") %>
</html>
