<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Library Reserves</title>
    <meta name="description" content="Reserves system for Hesburgh Libraries at the University of Notre Dame." />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="http://library.nd.edu/icons/favicon-152.png">
    <%= stylesheet_link_tag    "hesburgh_assets/admin/1.0/index.css", :media => "all" %>
    <%= stylesheet_link_tag    "sakai", :media => "all" %>
    <%= javascript_include_tag "hesburgh_assets/admin/1.0/index.js" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="">
    <div class="header">
      <%= image_tag "header-home.jpg", height: '45', alt: '' %>
      <h3>Library Reserves</h3>
    </div>
    <div class="rcontainer">
      <% if params[:course_id] %>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <ul class="nav">
              <li class="active"><%= link_to CourseSearch.new.get(params[:course_id]).title, :controller => "course_reserves", :action => "index", :course_id => params[:course_id] %></li>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="primary_content">
        <% if content_for?(:content_title_links) %>
          <div class="pull-right">
            <%= content_for(:content_title_links) %>
          </div>
        <% end %>
        <%= content_for(:content_title) %>
        <div class="yield_content">
          <%= yield %>
        </div>
      <div style="clear:both;"></div>
      </div>
    </div>
  </body>
</html>
